$black: #000;
$slate: #2f2f2f;
$dark-gray: #424242;
$gray: #636363;
$light-gray: #808080;
$white: #fff;

$beige: #f0efec;
$olive: #aead84;
$green: #757b6d;
$orange: #fc860e;

$yellow: #ffff1b;
$blue: #164968;

$heritage-yellow: #DBB532;
$outer-space-blue: #101A1F;