@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.woff2') format('woff2');
}

$soleil: soleil, sans-serif;
$futura-pt: futura-pt, sans-serif;
$futura-pt-bold: futura-pt-bold, sans-serif;
$font-awesome: 'FontAwesome';
