/*

    Theme Name: Therma-a-Rest Blog
    Theme URI: http://www.thermarestblog.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 3.0 of Therma-a-Rest Blog
    Version: 3.0

*/
@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome-webfont.woff2") format("woff2");
}
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/* Links */
a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:hover, a:active {
  outline: none;
}

/* Typography */
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

/* Lists */
dd {
  margin: 0 0 0 40px;
}

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

/* Forms */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative;
}

/* Selection  */
::-moz-selection {
  background: #DBB532;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #DBB532;
  color: #fff;
  text-shadow: none;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Border-Box */
* {
  box-sizing: border-box;
}

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* Responsive Image */
img {
  display: block;
  max-width: 100%;
}

html, input, textarea {
  -webkit-font-smoothing: antialiased;
}

body {
  text-rendering: optimizeLegibility;
}

body, input, textarea {
  color: #101A1F;
  font: 400 100%/1 soleil, sans-serif;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #101A1F;
  transition: all 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: soleil, sans-serif;
  font-weight: 900;
}

h2.section-header {
  font-size: 1.375em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 900;
  text-align: center;
}

body {
  background: #f0efec;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 15px;
  transition: padding 0.2s ease-in;
}
@media screen and (min-width: 1500px) {
  .wrapper {
    padding: 0;
  }
}

a.btn {
  background: #DBB532;
  padding: 12px 48px 14px 48px;
  display: inline-block;
  color: #fff;
}

.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

article.post .photo {
  display: block;
  position: relative;
}
article.post .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
article.post .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
article.post .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article.post .info {
  padding: 20px 10px;
  text-align: center;
}
article.post .info h2,
article.post .info h3,
article.post .info h4 {
  text-transform: uppercase;
  text-align: center;
}
article.post .info h2.title {
  padding: 0 0 15px 0;
  font-size: 1.5em;
  max-width: 540px;
  margin: 0 auto;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  article.post .info h2.title {
    font-size: 2em;
  }
}
article.post .info h3.byline {
  font-weight: normal;
  font-size: 0.875rem;
}
article.post .info h3.byline .contributor {
  text-decoration: underline;
}
article.post .info h4.category {
  text-align: center;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 0 10px 0;
}
article.post .info h4.category a {
  display: block;
  background: #101A1F;
  padding: 0.5rem;
  color: #fff;
}
article.post .info p {
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375em;
  max-width: 540px;
  margin: 0 auto;
  display: none;
}
@media screen and (min-width: 768px) {
  article.post .info p {
    display: block;
  }
}
article.post .info .more {
  display: inline-block;
  text-align: center;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  margin: 20px 0 0 0;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  article.post.highlight {
    grid-column-start: 1;
    grid-column-end: span 3;
  }
}
@media screen and (min-width: 768px) and (-ms-high-contrast: none), screen and (min-width: 768px) and (-ms-high-contrast: active) {
  article.post.highlight {
    width: 100%;
  }
}
article.post.highlight .photo {
  position: relative;
}
article.post.highlight .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}
article.post.highlight .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
article.post.highlight .info {
  background: #101A1F;
  color: #fff;
  padding: 25px;
  text-align: left;
}
article.post.highlight .info h2,
article.post.highlight .info h3,
article.post.highlight .info h4.category {
  text-align: left;
  color: #fff;
}
article.post.highlight .info h2 a,
article.post.highlight .info h3 a,
article.post.highlight .info h4.category a {
  color: #fff;
}
article.post.highlight .info h2.title {
  max-width: 100%;
  margin: 0;
}
article.post.highlight .info h3.byline {
  font-size: 0.875em;
}
@media screen and (min-width: 640px) {
  article.post.highlight .info h3.byline {
    font-size: 1em;
  }
}
article.post.highlight .info h4.category {
  text-align: left;
  font-size: 0.875rem;
  display: inline-block;
  text-shadow: none;
  margin-bottom: 0;
}
article.post.highlight .info h4.category a {
  display: inline-block;
  background: #fff;
  color: #101A1F;
  text-shadow: none;
}
article.post.highlight .info p,
article.post.highlight .info .more {
  display: none;
}
@media screen and (min-width: 768px) {
  article.post.highlight .info {
    position: absolute;
    padding: 0;
    bottom: 30px;
    left: 30px;
    background: transparent;
  }
  article.post.highlight .info h2.title {
    padding: 0 0 20px 0;
    font-size: 3em;
    max-width: 75%;
    margin: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  article.post.highlight .info h3.byline {
    font-size: 1.125em;
    letter-spacing: 0.075em;
    font-weight: 600;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  article.post.highlight .info h4.category {
    font-size: 1em;
    padding: 0 0 10px 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  article.post.highlight .info p {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  article.post.highlight .info {
    bottom: 60px;
    left: 45px;
  }
  article.post.highlight .info h2.title {
    max-width: 50%;
  }
}
article.post.featured-2 .photo, article.post.featured-3 .photo, article.post.recent .photo {
  position: relative;
}
article.post.featured-2 .photo:before, article.post.featured-3 .photo:before, article.post.recent .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}
article.post.featured-2 .photo > .content, article.post.featured-3 .photo > .content, article.post.recent .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.posts-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .posts-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .posts-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .posts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .posts-wrapper article {
    width: 100%;
    padding: 0 0 20px 0;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .posts-wrapper article {
    width: 49%;
  }
}
@media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .posts-wrapper article {
    width: 32.3333%;
  }
}
@supports (-ms-ime-align: auto) {
  .posts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .posts-wrapper article {
    width: 100%;
    padding: 0 0 20px 0;
  }
  @media screen and (min-width: 768px) {
    .posts-wrapper article {
      width: 49%;
    }
  }
  @media screen and (min-width: 1024px) {
    .posts-wrapper article {
      width: 32.3333%;
    }
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 53px;
  height: 63px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  z-index: 100;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.4;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 0;
}
@media screen and (min-width: 1280px) {
  .slick-prev {
    left: -73px;
  }
  [dir=rtl] .slick-prev {
    left: auto;
    right: 73px;
  }
}
.slick-prev:before {
  background: url(images/prev.png) no-repeat 0 0;
  width: 53px;
  height: 63px;
  content: "";
  display: block;
}

.slick-next {
  right: 0;
}
[dir=rtl] .slick-next {
  left: 0;
  right: auto;
}
@media screen and (min-width: 1280px) {
  .slick-next {
    right: -73px;
  }
  [dir=rtl] .slick-next {
    left: 73px;
    right: auto;
  }
}
.slick-next:before {
  background: url(images/next.png) no-repeat 0 0;
  width: 53px;
  height: 63px;
  content: "";
  display: block;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 640px) {
  .slick-dots {
    bottom: 15px;
  }
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  width: 12px;
  height: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  opacity: 0.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.85;
}

.site-header {
  z-index: 5555;
  position: relative;
}
.site-header .nav-bar {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #101A1F;
    color: #fff;
    width: 100%;
  }
}
.site-header .nav-bar .marquee {
  display: none;
  max-height: 2rem;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .site-header .nav-bar .marquee {
    display: flex;
    justify-content: center;
    width: calc(100% - 27rem);
  }
}
.site-header .nav-bar .marquee-slider {
  width: 32rem;
}
@media screen and (min-width: 1200px) {
  .site-header .nav-bar .marquee-slider {
    width: 36rem;
  }
}
.site-header .nav-bar .marquee .message {
  text-align: center;
  padding: 0.25rem 0;
}
.site-header .nav-bar .marquee .message p {
  font-size: 0.875rem;
}
.site-header .nav-bar .marquee .slick-prev,
.site-header .nav-bar .marquee .slick-next {
  top: 2px;
  width: 20px;
  height: 20px;
  transform: translateX(0);
}
.site-header .nav-bar .marquee .slick-prev:before,
.site-header .nav-bar .marquee .slick-next:before {
  background-image: unset;
  opacity: unset;
  width: unset;
  height: unset;
  content: "\f0d9";
  font-family: "FontAwesome";
  color: #fff;
  font-size: 0.875rem;
}
.site-header .nav-bar .marquee .slick-prev {
  left: 0;
}
.site-header .nav-bar .marquee .slick-prev:before {
  content: "\f0d9";
}
.site-header .nav-bar .marquee .slick-next {
  right: 0;
}
.site-header .nav-bar .marquee .slick-next:before {
  content: "\f0da";
}
.site-header .nav-bar .brands {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .site-header .nav-bar .brands {
    width: 27rem;
  }
}
.site-header .nav-bar .brands .network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  line-height: 38px;
  padding: 0 10px;
}
.site-header .nav-bar .brands .network-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%) brightness(0) invert(1);
}
.site-header .nav-bar .brands .network-link:hover {
  background-color: #101A1F;
}
.site-header .nav-bar .brands .network-link:hover img {
  filter: brightness(0) invert(1);
}
.site-header .nav-bar .brands .msr img {
  width: 40px;
}
.site-header .nav-bar .brands .platypus img {
  width: 75px;
}
.site-header .nav-bar .brands .packtowl img {
  width: 65px;
}
.site-header .nav-bar .brands .sealline img {
  width: 57px;
}
.site-header .nav-bar .brands .thermarest {
  background-color: #fff;
  padding-left: 12px;
}
.site-header .nav-bar .brands .thermarest img {
  width: 90px;
  filter: unset;
}
.site-header .hamburger {
  width: 1.25rem;
  margin-left: 4px;
}
@media screen and (min-width: 992px) {
  .site-header .hamburger {
    display: none;
  }
}
@media (width <= 250px) {
  .site-header .hamburger {
    margin-left: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 0.5rem;
  }
}
.site-header .hamburger a:before {
  content: "\f0c9";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1.5rem;
  font-weight: 100;
}
@media (width <= 250px) {
  .site-header .hamburger a:before {
    font-size: 0.5rem;
  }
}
.site-header .hamburger a.show:before {
  content: "\f00d";
}
.site-header .logo {
  display: flex;
  width: 100%;
  justify-content: center;
  aspect-ratio: 180/40;
}
@media screen and (min-width: 992px) {
  .site-header .logo {
    margin-left: 0;
    margin-right: 0.625rem;
    flex-basis: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .site-header .logo {
    margin-right: 0;
  }
}
@media (width <= 250px) {
  .site-header .logo {
    aspect-ratio: unset;
  }
}
.site-header .logo a {
  display: block;
}
.site-header .logo img {
  width: 100%;
  height: 100%;
  max-width: 180px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
.site-header .site-navigation {
  background: #fff;
  padding: 15px 24px 15px 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 2rem;
  border-bottom: 2px solid #101A1F;
}
@media screen and (min-width: 992px) {
  .site-header .site-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px 16px 19px 16px;
  }
}
@media (width <= 250px) {
  .site-header .site-navigation {
    grid-template-columns: 1fr;
    padding: 15px 12px;
    gap: 0.25rem;
    text-align: center;
  }
}
.site-header .desktop-nav {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .desktop-nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .site-header .desktop-nav {
    margin-left: 10px;
  }
}
.site-header .desktop-nav ul {
  display: flex;
  align-items: center;
}
.site-header .desktop-nav .first-level:last-of-type {
  margin-left: 1rem;
}
.site-header .desktop-nav .first-level:last-of-type:before {
  content: "";
  display: block;
  height: 30px;
  width: 2px;
  background: #b3b1b2;
  position: absolute;
  left: -8px;
  top: -6px;
}
.site-header .desktop-nav .main-link {
  color: #101A1F;
  font-size: 15px;
  font-weight: 900;
  line-height: 1rem;
  padding: 10px 0.5rem 27px 0.5rem;
  text-transform: uppercase;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .site-header .desktop-nav .main-link {
    padding: 10px 0.75rem 27px 0.75rem;
    font-size: 16px;
  }
}
.site-header .desktop-nav .main-link:after {
  content: "";
  display: block;
  height: 2px;
  width: calc(100% - 24px);
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  transition: all 0.2s ease;
}
.site-header .desktop-nav .main-link.show:after {
  background: #101A1F;
}
.site-header .desktop-nav .dropdown-menu {
  border-top: 2px solid #101A1F;
  border-bottom: 2px solid #101A1F;
  position: absolute;
  top: 47px;
  width: 100vw;
  background: #fff;
  z-index: 10;
  padding: 2rem;
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}
.site-header .desktop-nav .dropdown-menu.show {
  display: block;
  opacity: 1;
  pointer-events: unset;
}
.site-header .desktop-nav .dropdown-menu-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.site-header .desktop-nav .col {
  padding: 1rem 1rem 0 1rem;
}
.site-header .desktop-nav .col.links {
  border-right: 2px solid #b1b1b1;
}
.site-header .desktop-nav .col.links:nth-child(3) {
  border-right: none;
}
.site-header .desktop-nav .col.links h2 {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 14px;
  padding-left: 20px;
}
.site-header .desktop-nav .col.links a {
  display: block;
  padding: 7px 20px;
  line-height: 20px;
  white-space: nowrap;
}
.site-header .desktop-nav .col.links a:hover {
  text-decoration: underline;
}
.site-header .desktop-nav .col.promo .promo-container {
  position: relative;
  max-width: 340px;
  margin-left: 1rem;
}
.site-header .desktop-nav .col.promo .promo-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 78.2352941176%;
}
.site-header .desktop-nav .col.promo .promo-container > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.site-header .desktop-nav .col.promo a {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.site-header .desktop-nav .col.promo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-header .desktop-nav .col.promo a .info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  text-align: center;
  padding: 1rem;
}
.site-header .desktop-nav .col.promo a .info .label {
  color: #fff;
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: futura-pt-bold, sans-serif;
}
.site-header .desktop-nav .col.promo a .info .explore {
  font-family: futura-pt-bold, sans-serif;
  position: absolute;
  bottom: 0;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.375rem 0.75rem;
  bottom: 3rem;
  opacity: 0;
  transition: opacity 0.2s;
}
.site-header .desktop-nav .col.promo a:hover .info {
  background: rgba(0, 0, 0, 0.25);
}
.site-header .desktop-nav .col.promo a:hover .info .explore {
  opacity: 1;
}
.site-header .utilities {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .site-header .utilities {
    padding-right: 0.5rem;
  }
}
@media (width <= 250px) {
  .site-header .utilities {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header .utilities .search .mobile {
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .site-header .utilities .search .mobile {
    display: none;
  }
}
.site-header .utilities .search .mobile a {
  display: block;
}
.site-header .utilities .search .mobile a:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1.675rem;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .search .mobile a:before {
    font-size: 1rem;
  }
}
@media (width <= 250px) {
  .site-header .utilities .search .mobile a:before {
    font-size: 0.5rem;
  }
}
.site-header .utilities .search .desktop {
  display: none;
}
@media screen and (min-width: 1200px) {
  .site-header .utilities .search .desktop {
    display: block;
  }
}
.site-header .utilities .search .desktop .search-container {
  cursor: pointer;
}
.site-header .utilities .search .desktop .search-container .search-field {
  pointer-events: none;
  border: 1px solid #4a4a4a;
  border-radius: 0.1875rem;
  background: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  width: 138px;
  height: 38px;
  padding-left: 35px;
}
.site-header .utilities .search .desktop .search-container .search-field:focus, .site-header .utilities .search .desktop .search-container .search-field:active {
  outline: none;
}
.site-header .utilities .search .desktop .search-container .search-field::-webkit-input-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-header .utilities .search .desktop .search-container .search-field::-moz-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-header .utilities .search .desktop .search-container .search-field:-moz-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-header .utilities .search .desktop .search-container .search-field:-ms-input-placeholder {
  color: #6c757d;
  font-weight: bold;
}
.site-header .utilities .search .desktop .search-container .search-btn {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
  position: absolute;
  top: 11px;
  left: 12px;
}
.site-header .utilities .search .desktop .search-container .search-btn:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1rem;
}
.site-header .utilities .links {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .links {
    padding-left: 1.5rem;
  }
}
.site-header .utilities .links .profile {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .links .profile {
    display: block;
    padding-right: 1.5rem;
  }
  .site-header .utilities .links .profile:before {
    content: "";
    display: block;
    height: 40px;
    width: 1px;
    background: #101A1F;
    position: absolute;
    right: 0.675rem;
    top: -8px;
  }
}
.site-header .utilities .links .profile a {
  display: block;
}
.site-header .utilities .links .profile a:before {
  content: "\f007";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1.375rem;
}
.site-header .utilities .links .cart {
  padding-left: 1rem;
}
@media (width <= 250px) {
  .site-header .utilities .links .cart {
    padding-left: 0.25rem;
  }
}
.site-header .utilities .links .cart a {
  display: block;
}
.site-header .utilities .links .cart a:before {
  content: "\f07a";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1.75rem;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .site-header .utilities .links .cart a:before {
    font-size: 1.375rem;
  }
}
@media (width <= 250px) {
  .site-header .utilities .links .cart a:before {
    font-size: 0.5rem;
  }
}
.site-header .banner {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-header .banner {
    display: flex;
    background: #DBB532;
    padding: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.site-header .banner a {
  color: #fff;
  display: block;
  font-size: 1rem;
  line-height: 1.75em;
}

.mobile-nav-show .site-navigation {
  border-bottom: none;
}

.site-search {
  position: fixed;
  top: -400px;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
.site-search .search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #101A1F;
  padding: 2rem 1rem;
}
.site-search .search-header .logo {
  display: none;
}
@media screen and (min-width: 992px) {
  .site-search .search-header .logo {
    display: block;
  }
}
.site-search .search-header .logo a {
  display: block;
}
.site-search .search-header .logo img {
  width: 100%;
  max-width: 180px;
}
.site-search .search-header .search-form {
  position: relative;
  flex: 1;
  margin-right: 2rem;
}
@media screen and (min-width: 992px) {
  .site-search .search-header .search-form {
    flex: unset;
    width: 45vw;
    margin-right: 0;
  }
}
.site-search .search-header .search-input {
  border: 1px solid #4a4a4a;
  border-radius: 0.1875rem;
  background: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  height: 38px;
  color: #fff;
}
.site-search .search-header .search-input:focus, .site-search .search-header .search-input:active {
  outline: none;
}
.site-search .search-header .search-input::-webkit-input-placeholder {
  color: #101A1F;
  font-weight: bold;
}
.site-search .search-header .search-input::-moz-placeholder {
  color: #101A1F;
  font-weight: bold;
}
.site-search .search-header .search-input:-moz-placeholder {
  color: #101A1F;
  font-weight: bold;
}
.site-search .search-header .search-input:-ms-input-placeholder {
  color: #101A1F;
  font-weight: bold;
}
.site-search .search-header .submit {
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  background: transparent;
  position: absolute;
  top: 11px;
  right: 12px;
}
.site-search .search-header .submit:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1rem;
}
@media screen and (min-width: 992px) {
  .site-search .search-header .search-close {
    width: 180px;
    display: flex;
    justify-content: flex-end;
  }
}
.site-search .search-header .search-close a {
  display: block;
}
.site-search .search-header .search-close a:after {
  content: "\f00d";
  display: block;
  font-family: "FontAwesome";
  color: #101A1F;
  font-size: 1.5rem;
  font-weight: 100;
}
.site-search .popular-searches {
  background: #fff;
  padding: 3rem 2rem;
}
.site-search .popular-searches .container {
  max-width: 20rem;
  margin: 0 auto;
}
.site-search .popular-searches .headline {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #dedede;
  margin-bottom: 0.75rem;
}
.site-search .popular-searches .headline h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}
.site-search .popular-searches ul li {
  padding-bottom: 0.375rem;
}
.site-search .popular-searches ul li a {
  font-weight: bold;
  color: #101A1F;
}

.blur-background {
  opacity: 0;
  transition: all 0.3 ease-in-out;
  width: 100%;
  height: 100vh;
  inset: 0;
  z-index: -1;
  position: fixed;
}

.search-overlay-active {
  overflow: hidden;
}
.search-overlay-active .blur-background {
  opacity: 1;
  z-index: 8888;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.search-overlay-active .site-search {
  top: 0;
}

.mobile-navigation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 4444;
  display: none;
  padding-top: 100px;
  background: #fff;
  color: #101A1F;
}
.mobile-navigation-container {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  padding-bottom: 8rem;
}
.mobile-navigation-container::-webkit-scrollbar {
  display: none;
}
.mobile-navigation ul {
  padding: 0.125rem 1rem 0 1rem;
}
.mobile-navigation ul[data-id=main] li + li {
  border-top: none;
}
.mobile-navigation li + li {
  border-top: 2px solid #dedede;
}
.mobile-navigation li.back + li {
  border-top-color: #848484;
}
.mobile-navigation li.back a {
  font-size: 1.75rem;
  font-weight: 900;
}
.mobile-navigation li.back a:before {
  content: "\f104";
  font-family: "FontAwesome";
  font-weight: bold;
  margin-right: 0.5rem;
}
.mobile-navigation li.forward a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation li.forward a:after {
  display: block;
  content: "\f105";
  font-family: "FontAwesome";
  font-weight: bold;
  margin-right: 0.5rem;
}
.mobile-navigation a {
  display: block;
  color: #101A1F;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.375rem 0;
}
.mobile-navigation .screens-container {
  display: none;
}

.mobile-nav-show {
  overflow: hidden;
}
.mobile-nav-show .site-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}
.mobile-nav-show nav.mobile-navigation {
  display: block;
}

.blog-nav {
  padding: 2rem 0;
}
@media screen and (min-width: 1024px) {
  .blog-nav {
    padding: 3rem 0;
  }
}
.blog-nav-header .mobile-toggle:hover {
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .blog-nav-header .mobile-toggle {
    display: none;
  }
}
.blog-nav-header .mobile-toggle a {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-nav-header .mobile-toggle a .label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  padding-right: 8px;
}
@media (width <= 250px) {
  .blog-nav-header .mobile-toggle a .label {
    font-size: 0.5em;
  }
}
.blog-nav-header .mobile-toggle a img {
  max-width: 16px;
  width: 100%;
  transition: all 0.3s ease-in;
  transform: translateY(1px);
}
.blog-nav-links {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in;
}
@media screen and (min-width: 1024px) {
  .blog-nav-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
    overflow: unset;
    padding-top: 0 !important;
  }
}
.blog-nav-links a {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.125rem;
  width: 100%;
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 640px) {
  .blog-nav-links a {
    width: auto;
  }
}
@media screen and (min-width: 768px) {
  .blog-nav-links a {
    padding: 10px 24px;
  }
}
.blog-nav-links a:hover {
  text-decoration: underline;
}
.blog-nav-links .search-btn {
  display: flex;
  justify-content: center;
}
.blog-nav-links .search-btn a {
  display: inline-block;
  width: auto;
}
.blog-nav-links .search-btn a img {
  width: 100%;
  max-width: 18px;
}
.blog-nav .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: all 0.2s ease-in;
}
@media screen and (min-width: 1024px) {
  .blog-nav .search-btn {
    width: auto;
    padding-left: 20px;
    justify-content: flex-start;
  }
}
.blog-nav .search-btn .search-trigger {
  display: block;
  padding: 0;
  margin: 4px 0 0 0;
  width: 14px;
  max-width: 14px;
  line-height: 14px;
}
.blog-nav .search-btn .search-trigger:active, .blog-nav .search-btn .search-trigger:focus {
  outline: none;
}
.blog-nav .search-btn .search-trigger img {
  width: 14px;
  max-width: 14px;
}
.blog-nav .search-btn .search-trigger-open {
  display: none;
}
.blog-nav .search-btn.open .search-trigger-closed {
  display: none;
}
.blog-nav .search-btn.open .search-trigger-open {
  display: block;
}
.blog-nav .search-btn .form-wrapper {
  width: 100%;
  max-width: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.blog-nav .search-btn .form-wrapper form {
  width: 100%;
}
.blog-nav .search-btn .form-wrapper .search-submit {
  display: none;
}
.blog-nav .search-btn .form-wrapper input {
  padding: 5px;
  height: 30px;
  line-height: 1em;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
@media screen and (min-width: 640px) {
  .blog-nav .search-btn.open {
    min-width: 220px;
  }
}
.blog-nav .search-btn.open .form-wrapper {
  margin-left: 10px;
  max-width: 200px;
}
.blog-nav .mobile-blog-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .blog-nav .mobile-blog-logo {
    display: none;
  }
}
.blog-nav .mobile-blog-logo a {
  display: block;
}
.blog-nav .mobile-blog-logo a img {
  width: 6rem;
  height: 6rem;
}
.blog-nav .blog-logo {
  display: none;
}
@media screen and (min-width: 1024px) {
  .blog-nav .blog-logo {
    display: block;
  }
}
.blog-nav .blog-logo a {
  display: block;
}
.blog-nav .blog-logo a img {
  width: 6rem;
  height: 6rem;
}
.blog-nav.open .mobile-toggle img {
  transform: rotate(180deg);
}
.blog-nav.open .blog-nav-links {
  padding-top: 10px;
  overflow: unset;
  max-height: 1000px;
}

.language-switcher {
  margin-left: auto;
}
.language-switcher .wpml-ls-legacy-dropdown a:hover,
.language-switcher .wpml-ls-legacy-dropdown a:focus,
.language-switcher .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
  background: #fff;
  color: #101A1F !important;
}
.language-switcher .wpml-ls-statics-shortcode_actions {
  border: none;
  width: auto;
  max-width: 100%;
}
.language-switcher .wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a {
  background: transparent;
}
.language-switcher .wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a:focus {
  color: #101A1F !important;
}
.language-switcher .wpml-ls-statics-shortcode_actions .wpml-ls-current-language > a:focus:hover {
  color: #101A1F !important;
}
.language-switcher .wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
  border-top: none;
}
.language-switcher .wpml-ls-legacy-dropdown .wpml-ls-item {
  background: #101A1F;
}
.language-switcher .wpml-ls-legacy-dropdown .wpml-ls-item .wpml-ls-link {
  background: #101A1F;
  color: #fff !important;
}
.language-switcher .wpml-ls-legacy-dropdown .wpml-ls-item .wpml-ls-link:hover {
  text-decoration: none;
  background: #fff !important;
  color: #101A1F !important;
}

nav#utility .wrapper .language-switcher a {
  margin: 0;
  display: block;
  width: 100%;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  padding: 10px 30px 10px 15px;
}
nav#utility .wrapper .language-switcher a:hover {
  text-decoration: none;
}

.newsletter-sign-up {
  background: #101A1F;
  color: #fff;
  padding: 2rem 1rem;
}
.newsletter-sign-up .gform_wrapper {
  padding: 0;
  margin: 0;
}
.newsletter-sign-up .gform_wrapper ul li.gfield {
  margin-top: 0;
  padding-right: 0;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_body {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_body {
    width: auto;
    display: flex;
    margin-right: 0px;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_body ul.gform_fields li.gfield {
  padding-right: 0 !important;
}
.newsletter-sign-up .gform_wrapper form .gform_body div.gfield_description {
  padding-right: 0 !important;
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .ginput_container_email {
    padding: 0 0 0 20px !important;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield {
  width: 100%;
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error {
  position: relative;
  margin-bottom: 0 !important;
}
.newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error .validation_message {
  position: absolute;
  bottom: -25px;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield {
    display: flex;
    align-items: center;
    width: auto;
  }
  .newsletter-sign-up .gform_wrapper form .gform_body .gform_fields .gfield + .gfield {
    margin-left: 10px !important;
  }
}
.newsletter-sign-up .gform_wrapper form .gform_footer {
  width: 100%;
}
.newsletter-sign-up .gform_wrapper form .gform_footer input {
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper form .gform_footer {
    width: auto;
    padding: 0 0 0 10px;
  }
  .newsletter-sign-up .gform_wrapper form .gform_footer input {
    height: 50px;
    padding: 0 40px;
    max-width: 120px;
  }
}
.newsletter-sign-up .gform_wrapper .gfield_required {
  display: none;
}
.newsletter-sign-up .gform_wrapper label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  display: block;
}
.newsletter-sign-up .gform_wrapper .gfield_description {
  font-size: 1.1875rem;
  line-height: 1.125em;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.31);
  padding: 0 0 20px 0;
  text-align: center;
  letter-spacing: 0em;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .gfield_description {
    padding: 0 10px 0 0;
    display: inline-block;
    width: auto;
    text-align: left;
  }
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container {
  margin: 0 !important;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container select {
  width: 100%;
  height: 42px;
  font-size: 1.25rem;
  padding: 0 15px;
  color: #495057;
  border: 0;
  display: inline-block;
  max-width: 100%;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/><path fill='none' d='M0 0h24v24H0V0z'/></svg>") no-repeat 100%;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container select:focus, .newsletter-sign-up .gform_wrapper .top_label div.ginput_container select:active {
  outline: none;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .top_label div.ginput_container select {
    width: 215px;
  }
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input {
  border-radius: 0;
  border: none;
  height: 42px;
  padding: 0 15px !important;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  margin: 0 !important;
  display: block;
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .top_label div.ginput_container input {
    width: 255px;
  }
}
@media screen and (min-width: 1280px) {
  .newsletter-sign-up .gform_wrapper .top_label div.ginput_container input {
    width: 359px;
  }
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input::-moz-placeholder {
  font-size: 1.25rem;
  color: #6D757D;
  font-weight: 500;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input:-ms-input-placeholder {
  font-size: 1.25rem;
  color: #6D757D;
  font-weight: 500;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input::placeholder {
  font-size: 1.25rem;
  color: #6D757D;
  font-weight: 500;
}
.newsletter-sign-up .gform_wrapper .top_label div.ginput_container input:focus, .newsletter-sign-up .gform_wrapper .top_label div.ginput_container input:active {
  outline: none;
}
.newsletter-sign-up .gform_wrapper .gform_footer {
  padding: 20px 0 0 0;
  margin: 0;
}
.newsletter-sign-up .gform_wrapper .gform_button {
  margin: 0;
  background: transparent;
  font-size: 1.25rem !important;
  border: 1px solid #DBB532;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding: 0px 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  height: 42px !important;
}
@media only screen and (min-width: 641px) {
  .newsletter-sign-up .gform_wrapper .gform_button {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px 8px;
  }
}
@media screen and (min-width: 1024px) {
  .newsletter-sign-up .gform_wrapper .gform_button {
    max-width: 120px !important;
    margin: 0 !important;
    width: 100% !important;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
.newsletter-sign-up .gform_wrapper .gform_button.disabled:hover {
  background: transparent;
  cursor: not-allowed;
}
.newsletter-sign-up .gform_wrapper .gform_button:hover {
  background: #DBB532;
}
.newsletter-sign-up .gform_wrapper .gform_button:focus, .newsletter-sign-up .gform_wrapper .gform_button:active {
  outline: none;
}
.newsletter-sign-up .gform_wrapper .validation_error {
  display: none;
}
.newsletter-sign-up .gform_wrapper li.gfield.gfield_error {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.newsletter-sign-up .gform_wrapper .gfield_error .gfield_label {
  color: #fff;
}
.newsletter-sign-up .gform_wrapper .gfield_description.validation_message {
  padding: 10px 0 0 0;
  margin: 0;
  border: none;
  color: #f0efec;
  font-size: 1em;
  font-weight: 700;
  display: none;
}
.newsletter-sign-up .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
  padding-right: 0;
}
.newsletter-sign-up .gform_wrapper ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
  margin-top: 0 !important;
}
.newsletter-sign-up .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
  margin-left: 0;
}
.newsletter-sign-up .gform_wrapper.gf_browser_chrome .gfield_error select {
  margin-bottom: 0;
}
.newsletter-sign-up .gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.newsletter-sign-up .gform_wrapper li.gfield_error textarea {
  border: 1px solid #fff;
  margin: 0;
  padding: 0;
}

.site-footer {
  background: #fff;
  color: #000;
  padding: 20px;
}
@media (width <= 250px) {
  .site-footer {
    padding: 5px;
  }
}
.site-footer a {
  color: #000;
}
.site-footer .columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.site-footer .columns .col {
  width: 100%;
  padding: 0 15px 1.5rem 15px;
}
@media screen and (min-width: 544px) {
  .site-footer .columns .col {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .site-footer .columns .col {
    width: 25%;
  }
}
.site-footer .columns .col .header {
  padding-bottom: 15px;
}
.site-footer .columns .col .header h4 {
  font-size: 1rem;
  font-weight: 800;
}
.site-footer .columns .col > ul li a {
  font-size: 1rem;
  line-height: 1.5em;
}
@media (width <= 250px) {
  .site-footer .columns .col > ul li a {
    font-size: 0.5em;
  }
}
.site-footer .columns .col > ul li a:hover {
  text-decoration: underline;
}
.site-footer .columns .col > ul li a.dealer-locator:before {
  color: #000;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f041";
  display: inline-block;
  font-size: 1.3rem;
  position: relative;
  top: 0.12rem;
  padding-right: 5px;
}
.site-footer .columns .social ul {
  display: flex;
  align-items: center;
}
@media (width <= 250px) {
  .site-footer .columns .social ul {
    display: block;
  }
}
.site-footer .columns .social ul a {
  display: block;
  background: #000;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 10px;
}
@media (width <= 250px) {
  .site-footer .columns .social ul a {
    margin-bottom: 10px;
  }
}
.site-footer .columns .social ul a:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  position: absolute;
  color: #fff;
}
.site-footer .columns .social ul a.facebook:after {
  content: "\f09a";
}
.site-footer .columns .social ul a.twitter:after {
  content: "\f099";
}
.site-footer .columns .social ul a.instagram:after {
  content: "\f16d";
}
.site-footer .columns .social ul a.youtube:after {
  content: "\f16a";
}
.site-footer .columns .social ul a img {
  display: none;
}
.site-footer .columns .lang-switcher a {
  color: #000;
}
.site-footer .lang-switcher {
  margin-left: auto;
}

.corporate-footer {
  background: rgb(233, 236, 239);
  color: #000;
  padding: 1rem 1rem 2rem 1rem;
}
.corporate-footer .global {
  padding: 0 15px;
}
@media (width <= 250px) {
  .corporate-footer .global {
    padding: 0;
  }
}
.corporate-footer .global ul {
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (width <= 250px) {
  .corporate-footer .global ul {
    display: block;
    padding: 0;
  }
}
.corporate-footer .global li {
  padding: 0 20px;
}
@media (width <= 250px) {
  .corporate-footer .global li {
    padding: 0;
  }
}
.corporate-footer .global a {
  color: #000;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5em;
}
@media (width <= 250px) {
  .corporate-footer .global a {
    font-size: 0.5em;
  }
}
.corporate-footer .copyright {
  padding: 5px 15px 0 15px;
}
@media (width <= 250px) {
  .corporate-footer .copyright {
    font-size: 0.5em;
    padding: 10px 0 0 0;
  }
}

body.archive section#posts h2.section-header,
body.search section#posts h2.section-header,
body.blog section#posts h2.section-header {
  padding: 35px 0 50px 0;
  border-top: 2px solid #fff;
  font-size: 1.125em;
}
body.archive section#posts .posts-wrapper,
body.search section#posts .posts-wrapper,
body.blog section#posts .posts-wrapper {
  border-bottom: 2px solid #fff;
  padding: 0 0 20px 0;
}
body.archive section#posts .posts-wrapper article.post h2.title,
body.search section#posts .posts-wrapper article.post h2.title,
body.blog section#posts .posts-wrapper article.post h2.title {
  font-size: 1.875em;
}
body.archive section#pagination,
body.search section#pagination,
body.blog section#pagination {
  padding: 50px 0 60px 0;
}
body.archive section#pagination .navigation,
body.search section#pagination .navigation,
body.blog section#pagination .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.archive section#pagination .navigation h2,
body.search section#pagination .navigation h2,
body.blog section#pagination .navigation h2 {
  color: #101A1F;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px 0 0;
  letter-spacing: 0.02em;
}
body.archive section#pagination .navigation .nav-links,
body.search section#pagination .navigation .nav-links,
body.blog section#pagination .navigation .nav-links {
  display: flex;
  align-items: center;
}
body.archive section#pagination .navigation .nav-links a,
body.archive section#pagination .navigation .nav-links span,
body.search section#pagination .navigation .nav-links a,
body.search section#pagination .navigation .nav-links span,
body.blog section#pagination .navigation .nav-links a,
body.blog section#pagination .navigation .nav-links span {
  padding: 4px 12px;
  font-weight: 600;
  font-size: 1.125em;
}
body.archive section#pagination .navigation .nav-links a,
body.search section#pagination .navigation .nav-links a,
body.blog section#pagination .navigation .nav-links a {
  color: #101A1F;
  transition: all 0.2s ease-in-out;
}
body.archive section#pagination .navigation .nav-links a:hover,
body.search section#pagination .navigation .nav-links a:hover,
body.blog section#pagination .navigation .nav-links a:hover {
  text-decoration: underline;
}
body.archive section#pagination .navigation .nav-links span,
body.search section#pagination .navigation .nav-links span,
body.blog section#pagination .navigation .nav-links span {
  color: #101A1F;
}
body.archive section#pagination .navigation .nav-links .current,
body.search section#pagination .navigation .nav-links .current,
body.blog section#pagination .navigation .nav-links .current {
  display: inline-block;
  background: #DBB532;
}

body.search-results section#posts h2.section-header {
  font-weight: 500;
}
body.search-results section#posts h2.section-header strong {
  font-weight: 700;
}

body.page-template-contributors #list {
  background: #fff;
  padding: 45px 0 80px 0;
}
body.page-template-contributors #list h2.section-header {
  padding: 0 0 55px 0;
}
body.page-template-contributors #list .list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px 50px;
}
@media screen and (min-width: 768px) {
  body.page-template-contributors #list .list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  body.page-template-contributors #list .list-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-contributors #list .list-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}
body.page-template-contributors #list .item .photo {
  width: 100%;
  padding: 0 0 40px 0;
  max-width: 250px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.page-template-contributors #list .item .photo {
    min-width: 150px;
    max-width: 150px;
    padding: 0;
  }
}
body.page-template-contributors #list .item .photo a {
  position: relative;
  display: block;
}
body.page-template-contributors #list .item .photo a:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
body.page-template-contributors #list .item .photo a > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-contributors #list .item .photo img {
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-contributors #list .item .info {
  padding: 30px 0 0 0;
  text-align: center;
}
body.page-template-contributors #list .item .info h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  padding: 0 0 5px 0;
  color: #636363;
  max-width: 160px;
  margin: 0 auto;
}
body.page-template-contributors #list .item .info h3 {
  font-size: 1.5em;
  letter-spacing: 0.02em;
  padding: 0 0 10px 0;
  font-weight: 700;
}
body.page-template-contributors #list .item .info p {
  font-size: 0.875rem;
  line-height: 1.375em;
}
body.page-template-contributors #list .item .info .links {
  padding: 20px 0 0 0;
}
body.page-template-contributors #list .item .info .links a {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  display: block;
  color: #DBB532;
}
body.page-template-contributors #list .item .info .links .social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
}
body.page-template-contributors #list .item .info .links .social a {
  margin: 0 10px;
}

body.error404 article.issue {
  min-height: 50vh;
  padding-top: 50px;
}
body.error404 article.issue h2 {
  padding-bottom: 25px;
}
body.error404 article.issue h3 {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  body.page-template-home section#featured .posts-wrapper article.post.highlight {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}
body.page-template-home section#featured .posts-wrapper article.post.highlight h2 {
  overflow-wrap: normal;
}
@media screen and (min-width: 1024px) {
  body.page-template-home section#featured .posts-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
  }
}
@media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.page-template-home section#featured .posts-wrapper article {
    width: 49%;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.page-template-home section#featured .posts-wrapper article.highlight {
    width: 100%;
  }
}
@supports (-ms-ime-align: auto) {
  @media screen and (min-width: 1024px) {
    body.page-template-home section#featured .posts-wrapper article {
      width: 49%;
    }
  }
  @media screen and (min-width: 768px) {
    body.page-template-home section#featured .posts-wrapper article.highlight {
      width: 100%;
    }
  }
}
body.page-template-home section#popular {
  background: #fff;
  padding: 60px 0 80px 0;
}
body.page-template-home section#popular h2.section-header {
  padding: 0 0 40px 0;
}
body.page-template-home section#posts {
  padding: 60px 0 30px 0;
}
body.page-template-home section#posts h2.section-header {
  padding: 0 0 40px 0;
}
@media screen and (min-width: 768px) {
  body.page-template-home section#posts .posts-wrapper .highlight {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.page-template-home section#posts .posts-wrapper .highlight {
    width: 100%;
  }
}
@supports (-ms-ime-align: auto) {
  @media screen and (min-width: 768px) {
    body.page-template-home section#posts .posts-wrapper .highlight {
      width: 100%;
    }
  }
}
@media screen and (min-width: 1024px) {
  body.page-template-home section#posts .posts-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.page-template-home section#posts .posts-wrapper article {
    width: 49%;
  }
}
@supports (-ms-ime-align: auto) {
  @media screen and (min-width: 1024px) {
    body.page-template-home section#posts .posts-wrapper article {
      width: 49%;
    }
  }
}
body.page-template-home section#explore {
  background: #fff;
  padding: 60px 0 80px 0;
}
body.page-template-home section#explore .tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0 0 0;
  max-width: 1200px;
  margin: 0 auto;
}
body.page-template-home section#explore .tag-wrapper .tag {
  padding: 0 15px;
  border-right: 1px solid #101A1F;
  margin: 0 0 20px 0;
}
body.page-template-home section#explore .tag-wrapper .tag:last-of-type {
  border-right: none;
}
body.page-template-home section#explore .tag-wrapper .tag a {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1em;
  display: block;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  body.page-template-home section#explore .tag-wrapper .tag a {
    font-size: 1.375em;
  }
}
body.page-template-home section#pagination {
  margin: 50px 0 0 0;
  padding: 50px 0 50px 0;
  border-top: 1px solid #fff;
}
body.page-template-home section#pagination .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.page-template-home section#pagination .navigation h2 {
  color: #101A1F;
  font-size: 1.125em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px 0 0;
  letter-spacing: 0.02em;
}
body.page-template-home section#pagination .navigation .nav-links {
  display: flex;
  align-items: center;
}
body.page-template-home section#pagination .navigation .nav-links a,
body.page-template-home section#pagination .navigation .nav-links span {
  padding: 0 12px;
  font-weight: 600;
  font-size: 1.125em;
}
body.page-template-home section#pagination .navigation .nav-links a {
  color: #101A1F;
  transition: all 0.2s ease-in-out;
}
body.page-template-home section#pagination .navigation .nav-links a:hover {
  text-decoration: underline;
}
body.page-template-home section#instagram .wrapper {
  max-width: 1920px;
  padding: 0;
}
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls {
  margin: -31px 0 0 0;
  position: absolute;
  top: 50%;
  width: 100%;
}
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons div {
  margin: 0;
  padding: 0;
  border-radius: 0;
  opacity: 1;
  top: 0;
}
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons div i {
  display: none;
}
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-prev,
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next {
  width: 53px;
  height: 63px;
}
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-prev {
  left: 0;
  background: url(images/prev.png) no-repeat 0 0;
}
body.page-template-home section#instagram .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next {
  right: 0;
  background: url(images/next.png) no-repeat 0 0;
}
body.page-template-home section#instagram #handle {
  padding: 40px 0;
  text-align: center;
}
body.page-template-home section#instagram #handle a {
  font-weight: 700;
  font-size: 1.375em;
  color: #101A1F;
  transition: all 0.2s ease-in-out;
}
body.page-template-home section#instagram #handle a:hover {
  color: #DBB532;
}

body.search #posts.no-results {
  min-height: 50vh;
}
body.search #posts.no-results .posts-wrapper {
  padding: 4rem 0 8rem 0;
}
body.search #posts.no-results .post {
  grid-column: 1/-1;
  text-align: center;
}
body.search #posts.no-results .post h3 {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  line-height: 1.5em;
}

body.single-contributor section#bio {
  background: #fff;
  padding: 45px 0 80px 0;
}
body.single-contributor section#bio .wrapper {
  max-width: 800px;
}
body.single-contributor section#bio h2.section-header {
  padding: 0 0 55px 0;
}
body.single-contributor section#bio h2.section-header strong {
  font-weight: 900;
}
body.single-contributor section#bio h2.section-header a {
  font-weight: 500;
  color: #636363;
}
body.single-contributor section#bio .photo {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  position: relative;
}
body.single-contributor section#bio .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
body.single-contributor section#bio .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.single-contributor section#bio .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
body.single-contributor section#bio .info {
  padding: 40px 0 0 0;
  text-align: center;
}
body.single-contributor section#bio .info h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding: 0 0 5px 0;
  font-size: 1.125em;
  color: #636363;
}
body.single-contributor section#bio .info h1 {
  font-size: 2.125em;
  letter-spacing: 0.02em;
  padding: 0 0 35px 0;
  font-weight: 700;
}
body.single-contributor section#bio .info p {
  font-size: 1.1875em;
  line-height: 1.375em;
}
body.single-contributor section#bio .info .links {
  padding: 30px 0 0 0;
}
body.single-contributor section#bio .info .links .social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0 0 0;
}
body.single-contributor section#bio .info .links .social a {
  margin: 0 10px;
}
body.single-contributor section#posts {
  background: #fff;
  padding: 0 0 80px 0;
}
body.single-contributor section#posts .wrapper {
  max-width: 1225px;
}
body.single-contributor section#posts h2.section-header {
  padding: 0 0 50px 0;
}
body.single-contributor section#posts .posts-wrapper {
  justify-content: flex-start;
}
body.single-contributor section#posts article.profile .photo {
  min-height: 150px;
  display: block;
}
@media screen and (min-width: 1024px) {
  body.single-contributor section#posts article.profile .photo {
    min-height: 240px;
  }
}
body.single-contributor section#posts article.profile .info {
  padding: 20px 5px 0 5px;
}
body.single-contributor section#posts article.profile .info h2, body.single-contributor section#posts article.profile .info h3, body.single-contributor section#posts article.profile .info h4, body.single-contributor section#posts article.profile .info h5 {
  text-align: left;
  max-width: none;
  margin: auto;
}
body.single-contributor section#posts article.profile .info h2.title {
  font-size: 1.5em;
  padding: 0 0 25px 0;
}
body.single-contributor section#posts article.profile .info h4.category {
  font-size: 1em;
  padding: 0 0 20px 0;
}
body.single-contributor section#posts article.profile .info h5 {
  color: #b6b6b6;
  font-size: 1em;
  font-weight: 500;
}

body.single-post article {
  background: #fff;
  padding: 40px 0 0 0;
}
body.single-post article .wrapper {
  max-width: 870px;
}
@media (width <= 250px) {
  body.single-post article .wrapper {
    padding: 0 5px;
  }
}
body.single-post article .featured-image {
  padding: 0 0 45px 0;
}
body.single-post article .featured-image .wrapper {
  max-width: 1360px;
}
body.single-post article .featured-image .photo {
  position: relative;
}
body.single-post article .featured-image .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 42.1052631579%;
}
body.single-post article .featured-image .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.single-post article .featured-image .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.single-post article .article-header {
  text-align: center;
  padding: 0 0 40px 0;
}
body.single-post article .article-header h1,
body.single-post article .article-header h3,
body.single-post article .article-header h4 {
  text-transform: uppercase;
}
body.single-post article .article-header h1.title {
  padding: 0 0 15px 0;
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-header h1.title {
    font-size: 4em;
    padding: 0 0 30px 0;
  }
}
@media (width <= 250px) {
  body.single-post article .article-header h1.title {
    font-size: 1em;
  }
}
body.single-post article .article-header h3.byline {
  font-weight: 700;
  font-size: 1em;
}
@media (width <= 250px) {
  body.single-post article .article-header h3.byline {
    font-size: 0.5em;
  }
}
body.single-post article .article-header h4.category {
  text-align: center;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.075em;
  padding: 0 0 10px 0;
}
@media (width <= 250px) {
  body.single-post article .article-header h4.category {
    font-size: 0.5em;
  }
}
body.single-post article .article-body p,
body.single-post article .article-body ul,
body.single-post article .article-body ol {
  font-size: 1.1875em;
  line-height: 1.375em;
  padding: 0 0 40px 0;
  font-weight: 500;
  color: #2f2f2f;
}
@media (width <= 250px) {
  body.single-post article .article-body p,
body.single-post article .article-body ul,
body.single-post article .article-body ol {
    font-size: 1em;
  }
}
body.single-post article .article-body ul,
body.single-post article .article-body ol {
  font-size: 1.0625em;
}
body.single-post article .article-body ul li,
body.single-post article .article-body ol li {
  margin: 0 0 20px 40px;
}
body.single-post article .article-body ul li:last-of-type,
body.single-post article .article-body ol li:last-of-type {
  margin: 0 0 0 40px;
}
@media (width <= 250px) {
  body.single-post article .article-body ul,
body.single-post article .article-body ol {
    font-size: 0.5em;
  }
  body.single-post article .article-body ul li,
body.single-post article .article-body ol li {
    margin: 0 0 5px 10px;
  }
  body.single-post article .article-body ul li:last-of-type,
body.single-post article .article-body ol li:last-of-type {
    margin-left: 10px;
  }
}
body.single-post article .article-body ul {
  list-style-type: disc;
}
body.single-post article .article-body ol {
  list-style-type: decimal;
}
body.single-post article .article-body a {
  text-decoration: underline;
}
body.single-post article .article-body p[style*="text-align: center;"] img {
  display: inline-block;
}
body.single-post article .article-body .aligncenter {
  margin: 0 auto 40px auto;
}
body.single-post article .article-body .alignnone,
body.single-post article .article-body .size-full {
  width: auto !important;
  height: auto !important;
  margin: 0 0 40px 0;
}
body.single-post article .article-body .alignnone.aligncenter,
body.single-post article .article-body .size-full.aligncenter {
  margin: 0 auto 40px auto;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-body .alignleft {
    float: left;
    margin: 0 2rem 2rem 0;
  }
  body.single-post article .article-body .alignright {
    float: right;
  }
}
body.single-post article .article-body h1 + .wp-caption,
body.single-post article .article-body h2 + .wp-caption,
body.single-post article .article-body h3 + .wp-caption,
body.single-post article .article-body h4 + .wp-caption,
body.single-post article .article-body h5 + .wp-caption,
body.single-post article .article-body h6 + .wp-caption {
  padding-top: 40px;
}
body.single-post article .article-body .wp-caption {
  padding: 0 0 40px 0;
  max-width: 100%;
}
body.single-post article .article-body .wp-caption:not(.aligncenter) {
  width: auto !important;
}
body.single-post article .article-body .wp-caption img {
  width: auto !important;
  height: auto !important;
}
body.single-post article .article-body .wp-caption img.aligncenter, body.single-post article .article-body .wp-caption img.alignnone, body.single-post article .article-body .wp-caption img.size-full {
  margin: 0;
}
body.single-post article .article-body .wp-caption.aligncenter {
  margin: 0 auto;
}
body.single-post article .article-body .wp-caption p.wp-caption-text {
  padding: 15px 0 0 0;
  font-size: 0.8125em;
  font-weight: bold;
  color: #747474;
  letter-spacing: 0.03em;
}
body.single-post article .article-body .wp-video {
  margin: 0 0 40px 0;
}
body.single-post article .article-body .mejs-layers {
  min-height: 100%;
}
body.single-post article .article-body .responsive-table {
  max-width: 100%;
  overflow-x: auto;
  padding-bottom: 40px;
}
body.single-post article .article-body .responsive-table table {
  font-size: 0.875rem;
}
body.single-post article .article-body .responsive-table table thead {
  text-align: left;
}
body.single-post article .article-body .responsive-table table thead th {
  background: #101A1F;
  color: #fff;
  padding: 10px;
}
body.single-post article .article-body .responsive-table table tbody td {
  padding: 10px;
  vertical-align: middle;
}
body.single-post article .article-body .responsive-table table tbody td img {
  margin: 0;
}
body.single-post article .article-body .responsive-table table tbody td a {
  color: #DBB532;
}
body.single-post article .article-body .responsive-table table tbody tr:nth-child(even) td {
  background: #fafafa;
}
body.single-post article .article-body .responsive-table table tbody tr:nth-child(even) td img {
  mix-blend-mode: multiply;
}
body.single-post article .article-body iframe {
  width: 100%;
}
body.single-post article .article-body .wp-caption span {
  display: block;
  margin-top: 0.75rem;
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.375em;
}
body.single-post article .article-footer {
  padding: 0 0 80px 0;
}
body.single-post article .article-footer section > h5 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.05em;
  padding: 0 0 20px 0;
}
body.single-post article .article-footer section#tags {
  border-top: 1px solid #d6d4ce;
  border-bottom: 1px solid #d6d4ce;
  padding: 30px 0;
  color: #6b6b6b;
}
body.single-post article .article-footer section#tags h5 {
  color: #6b6b6b;
}
body.single-post article .article-footer section#tags a {
  color: #6b6b6b;
  font-size: 0.875em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.25em;
}
@media (width <= 250px) {
  body.single-post article .article-footer section#tags a {
    font-size: 0.5em;
  }
}
body.single-post article .article-footer section#tags a:hover {
  text-decoration: underline;
}
body.single-post article .article-footer section#products {
  border-bottom: 1px solid #d6d4ce;
  padding: 30px 0 0 0;
}
body.single-post article .article-footer section#products h5 {
  color: #2f2f2f;
}
body.single-post article .article-footer section#products .products-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0 0 20px 0;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-footer section#products .products-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  body.single-post article .article-footer section#products .products-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (width <= 250px) {
  body.single-post article .article-footer section#products .products-wrapper {
    grid-template-columns: 1fr;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.single-post article .article-footer section#products .products-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body.single-post article .article-footer section#products .products-wrapper .product {
    width: 49%;
    padding: 0 0 20px 0;
  }
}
@media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.single-post article .article-footer section#products .products-wrapper .product {
    width: 32.3333%;
  }
}
@media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.single-post article .article-footer section#products .products-wrapper .product {
    width: 24%;
  }
}
@supports (-ms-ime-align: auto) {
  body.single-post article .article-footer section#products .products-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  body.single-post article .article-footer section#products .products-wrapper .product {
    width: 49%;
    padding: 0 0 20px 0;
  }
  @media screen and (min-width: 768px) {
    body.single-post article .article-footer section#products .products-wrapper .product {
      width: 32.3333%;
    }
  }
  @media screen and (min-width: 1024px) {
    body.single-post article .article-footer section#products .products-wrapper .product {
      width: 24%;
    }
  }
}
body.single-post article .article-footer section#products .products-wrapper .product .photo img {
  max-height: 185px;
  margin: 0 auto;
}
body.single-post article .article-footer section#products .products-wrapper .product .info {
  padding: 20px 20px 0 20px;
  text-align: center;
}
body.single-post article .article-footer section#products .products-wrapper .product .info h4 {
  padding: 0 0 15px 0;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.25em;
  color: #2f2f2f;
}
body.single-post article .article-footer section#products .products-wrapper .product .info .shop {
  color: #101A1F;
  text-decoration: underline;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125em;
  letter-spacing: 0.05em;
}
body.single-post article .article-footer section#contributor {
  margin: 30px 0 0 0;
  background: #f0efec;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-footer section#contributor {
    padding: 50px;
    flex-wrap: nowrap;
  }
}
@media (width <= 250px) {
  body.single-post article .article-footer section#contributor {
    padding: 5px;
  }
}
body.single-post article .article-footer section#contributor.one-time .info {
  flex-basis: 100%;
  padding: 0;
}
body.single-post article .article-footer section#contributor .photo {
  width: 100%;
  padding: 0 0 40px 0;
  max-width: 250px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-footer section#contributor .photo {
    min-width: 150px;
    max-width: 150px;
    padding: 0;
    flex-basis: 30%;
  }
}
body.single-post article .article-footer section#contributor .photo img {
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-footer section#contributor .info {
    padding: 0 0 0 40px;
    flex-basis: 70%;
  }
}
body.single-post article .article-footer section#contributor .info h5 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding: 0 0 5px 0;
}
body.single-post article .article-footer section#contributor .info h3 {
  font-size: 1.5em;
  letter-spacing: 0.02em;
  padding: 0 0 20px 0;
  font-weight: 700;
}
@media (width <= 250px) {
  body.single-post article .article-footer section#contributor .info h3 {
    font-size: 0.875em;
  }
}
body.single-post article .article-footer section#contributor .info p {
  font-size: 1em;
  line-height: 1.375em;
  font-weight: 600;
}
@media (width <= 250px) {
  body.single-post article .article-footer section#contributor .info p {
    font-size: 0.5em;
  }
}
body.single-post article .article-footer section#contributor .info .links {
  padding: 30px 0 0 0;
}
body.single-post article .article-footer section#contributor .info .links a {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  display: block;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  body.single-post article .article-footer section#contributor .info .links a {
    display: inline-block;
    margin: 0 10px 0 0;
    border-right: 1px solid;
    padding: 0 10px 0 0;
  }
  body.single-post article .article-footer section#contributor .info .links a:last-of-type {
    margin: 0;
    border-right: none;
    padding: 0;
  }
}
body.single-post article .article-footer section#share {
  padding: 60px 0 100px 0;
  overflow: hidden;
}
body.single-post article .article-footer section#share h5 {
  text-align: center;
  color: #101A1F;
  font-size: 1.25em;
  font-weight: 700;
}
body.single-post article .article-footer section#share .share-link {
  padding: 0 1rem;
  width: 4rem;
}
body.single-post article .article-footer section#share .share-link svg {
  width: 100%;
}
body.single-post article .article-footer section#share .share-link svg path {
  transition: all 200ms ease;
}
body.single-post article .article-footer section#share .share-link svg path:hover {
  fill: #DBB532;
}
body.single-post article .article-footer section#share .links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
body.single-post article .article-footer section#share .links-wrapper a {
  display: block;
}
body.single-post article .article-footer section#share .links-wrapper .page-link-view {
  transform: translate(-50%, 20px);
  position: absolute;
  padding: 20px;
  border: 2px solid #2f2f2f;
  background: #fff;
  font-weight: 600;
  color: #101A1F;
  white-space: nowrap;
  opacity: 0;
  z-index: -1;
  transition: all 0.2s ease-in;
}
body.single-post article .article-footer section#share .links-wrapper .page-link-view:hover {
  cursor: auto;
}
body.single-post article .article-footer section#share .links-wrapper .page-link-view::before {
  content: " ";
  display: block;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #2f2f2f;
  position: absolute;
  top: -12px;
  left: 50%;
}
body.single-post article .article-footer section#share .links-wrapper .page-link.active .page-link-view {
  opacity: 1;
  z-index: 10;
}
body.single-post article .article-footer section#discussion h2.comments-title {
  font-size: 1.25em;
  font-weight: 700;
  padding: 0 0 20px 0;
}
body.single-post article .article-footer section#discussion ol.comment-list li {
  margin: 0 0 20px 0;
  background: #f0efec;
  padding: 30px;
  border-left: 5px solid #757b6d;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .comment-author {
  width: 100%;
  padding: 0 0 5px 0;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .comment-author cite {
  font-weight: 600;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .comment-meta {
  width: 100%;
  padding: 0 0 15px 0;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .comment-meta a {
  font-size: 0.75em;
  font-weight: 700;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body p {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.375em;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body p + p {
  padding: 20px 0 0 0;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body p a {
  text-decoration: underline;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .reply {
  margin: 10px 0 0 0;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .reply a {
  border: 2px solid #757b6d;
  color: #757b6d;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transition: all 0.3s ease-in-out;
}
body.single-post article .article-footer section#discussion ol.comment-list li .comment-body .reply a:hover {
  background: #757b6d;
  color: #fff;
}
body.single-post article .article-footer section#discussion ol.comment-list ol.children {
  padding: 40px 0 0 0;
}
body.single-post article .article-footer section#discussion ol.comment-list ol.children li {
  padding: 5px 15px;
  border-left: 3px solid #DBB532;
}
body.single-post article .article-footer section#discussion ol.comment-list ol.children li .reply a {
  border: 2px solid #DBB532;
  color: #DBB532;
}
body.single-post article .article-footer section#discussion ol.comment-list ol.children li .reply a:hover {
  background: #DBB532;
  color: #fff;
}
body.single-post article .article-footer section#discussion .navigation {
  display: none;
}
body.single-post article .article-footer section#discussion div#respond {
  padding: 30px;
  background: #f0efec;
  border-left: 5px solid #DBB532;
}
body.single-post article .article-footer section#discussion div#respond h3#reply-title {
  font-weight: 700;
  font-size: 1.25em;
  padding: 0 0 20px 0;
}
body.single-post article .article-footer section#discussion div#respond p.logged-in-as {
  margin: 0 0 20px 0;
}
body.single-post article .article-footer section#discussion div#respond #cancel-comment-reply-link {
  color: #DBB532;
  display: block;
  font-weight: 400;
  font-style: italic;
  margin: 10px 0 0 0;
}
body.single-post article .article-footer section#discussion div#respond form p.comment-notes {
  font-size: 0.875em;
  font-style: italic;
  padding: 0 0 25px 0;
}
body.single-post article .article-footer section#discussion div#respond form p.comment-form-url {
  display: none;
}
body.single-post article .article-footer section#discussion div#respond form label {
  display: block;
  font-weight: 700;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 0 0 5px 0;
}
body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email {
  padding: 0 0 25px 0;
  max-width: 400px;
}
body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment input,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment textarea,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author input,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author textarea,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email input,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email textarea {
  width: 100%;
  padding: 10px;
  font-weight: 600;
}
body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment input:focus, body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment input:active,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment textarea:focus,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-comment textarea:active,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author input:focus,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author input:active,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author textarea:focus,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-author textarea:active,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email input:focus,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email input:active,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email textarea:focus,
body.single-post article .article-footer section#discussion div#respond form p.comment-form-email textarea:active {
  outline: none;
}
body.single-post article .article-footer section#discussion div#respond form p.form-submit input {
  margin: 0;
  background: #DBB532;
  font-family: soleil, sans-serif;
  border: 2px solid #DBB532;
  color: #fff;
  height: 42px;
  padding: 0 25px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
body.single-post article .article-footer section#discussion div#respond form p.form-submit input:focus, body.single-post article .article-footer section#discussion div#respond form p.form-submit input:active {
  outline: none;
}
body.single-post section#posts {
  background: #f0efec;
  padding: 60px 0 80px 0;
}
@media (width <= 250px) {
  body.single-post section#posts {
    display: none;
  }
}
body.single-post section#posts .wrapper {
  max-width: 1225px;
  padding: 0;
}
body.single-post section#posts h2.section-header {
  padding: 0 0 50px 0;
}
body.single-post section#posts .posts-wrapper {
  padding: 0 73px;
}
@media screen and (min-width: 1280px) {
  body.single-post section#posts .posts-wrapper {
    padding: 0;
  }
}
body.single-post section#posts .posts-wrapper .slick-track {
  display: flex;
}
body.single-post section#posts article.related {
  padding: 0 67px;
  background: transparent;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 640px) {
  body.single-post section#posts article.related {
    width: 50%;
    padding: 0 25px;
    border-right: 3px solid #dadada;
  }
}
@media screen and (min-width: 768px) {
  body.single-post section#posts article.related {
    width: 33.3333%;
  }
}
@media screen and (min-width: 1024px) {
  body.single-post section#posts article.related {
    width: 25%;
  }
}
body.single-post section#posts article.related:focus, body.single-post section#posts article.related:active {
  outline: none;
}
body.single-post section#posts article.related .photo {
  min-height: 150px;
  display: block;
}
@media screen and (min-width: 1024px) {
  body.single-post section#posts article.related .photo {
    min-height: 150px;
  }
}
body.single-post section#posts article.related .info {
  padding: 20px 5px 0 5px;
}
body.single-post section#posts article.related .info h2,
body.single-post section#posts article.related .info h3,
body.single-post section#posts article.related .info h4,
body.single-post section#posts article.related .info h5 {
  text-align: left;
  max-width: none;
  margin: auto;
}
body.single-post section#posts article.related .info h2.title {
  font-size: 1.25em;
  padding: 0 0 25px 0;
}
@media screen and (min-width: 1024px) {
  body.single-post section#posts article.related .info h2.title {
    font-size: 1.5em;
  }
}
@media (width <= 250px) {
  body.single-post section#posts article.related .info h2.title {
    font-size: 0.5em;
  }
}
body.single-post section#posts article.related .info h4.category {
  font-size: 0.875em;
  padding: 0 0 20px 0;
}
@media screen and (min-width: 1024px) {
  body.single-post section#posts article.related .info h4.category {
    font-size: 1em;
  }
}
body.single-post section#posts article.related .info h5 {
  display: inline-block;
  padding: 0.5rem;
  background: #DBB532;
  color: #000;
  font-size: 0.875em;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  body.single-post section#posts article.related .info h5 {
    font-size: 1em;
  }
}