.announcement-banner {
	background: $heritage-yellow;
	color: $white;
	text-align: center;
	padding: 12px;

	a {
		color: $white;
		font-weight: 500;
		display: block;
		line-height: 1.5em;
		font-size: 1rem;
	}
}
.announcement-overlay {
	background: $black;
	color: $white;
	position: fixed;
	z-index: 100000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 0;
	height: 100vh;
	transition: all 0.75s ease;
	overflow: hidden;

	&.active {
		max-height: 10000px;
		height: 100%;
		overflow: scroll;
	}

	.info-wrapper {
		margin: 64px 0 2rem 0;
		overflow: scroll;
		min-height: 100vh;
	}

	.close {
		font-size: 28px;
		font-weight: bold;
		position: absolute;
		right: 1rem;
		top: 1rem;
		color: $white;
		text-shadow: none;
		cursor: pointer;
		opacity: 1;
		transition: none;

		@include tablet-portrait {
			right: 2rem;
			top: 2rem;
		}

		&:hover {
			color: #aaa;
		}
	}

	.info {
		max-width: 512px;
		margin: 0 auto;
		padding: 0 15px;

		h5 {
			font-size: 1.25rem;
			font-weight: 700;

			& + p {
				padding-top: 40px;
			}
		}

		p {
			font-size: 1rem;
			line-height: 1.5em;

			& + p,
			& + h5 {
				padding-top: 40px;
			}
		}

		a {
			color: $white;
			text-decoration: underline;
			font-weight: 400;
		}
	}
}