.blog-nav {
    padding: 2rem 0;

    @include tablet-landscape {
        padding: 3rem 0;
    }

    &-header {
        .mobile-toggle {
            &:hover {
                cursor: pointer;
            }

            @include tablet-landscape {
                display: none;
            }

            a {
                display: block;
                display: flex;
                align-items: center;
                justify-content: center;

                .label {
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    font-weight: bold;
                    padding-right: 8px;

                    @media (width <= 250px) {
                        font-size: 0.5em;
                    }
                }

                img {
                    max-width: 16px;
                    width: 100%;
                    transition: all 0.3s ease-in;
                    transform: translateY(1px);
                }
            }
        }
    }

    &-links {
        max-height: 0;
        overflow: hidden;
        transition: all 0.4s ease-in;

        @include tablet-landscape {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            max-height: unset;
            overflow: unset;
            padding-top: 0 !important;
        }

        a {
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.125rem;
            width: 100%;
            text-align: center;
            padding: 10px;

            @include mobile-landscape {
                width: auto;
            }

            @include tablet-portrait {
                padding: 10px 24px;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        .search-btn {
            display: flex;
            justify-content: center;

            a {
                display: inline-block;
                width: auto;

                img {
                    width: 100%;
                    max-width: 18px;
                }
            }
        }
    }

    .search-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: all 0.2s ease-in;

        @include tablet-landscape {
            width: auto;
            padding-left: 20px;
            justify-content: flex-start;
        }

        .search-trigger {
            display: block;
            padding: 0;
            margin: 4px 0 0 0;
            width: 14px;
            max-width: 14px;
            line-height: 14px;

            &:active,
            &:focus {
                outline: none;
            }

            img {
                width: 14px;
                max-width: 14px;
            }
        }

        .search-trigger-open {
            display: none;
        }

        &.open {
            .search-trigger-closed {
                display: none;
            }
            .search-trigger-open {
                display: block;
            }
        }

        .form-wrapper {
            width: 100%;
            max-width: 0;
            overflow: hidden;
            transition: all 0.2s ease-in;

            form {
                width: 100%;
            }

            .search-submit {
                display: none;
            }

            input {
                padding: 5px;
                height: 30px;
                line-height: 1em;
                width: 100%;
                text-transform: uppercase;
                font-weight: 700;
                border: none;
            }
        }

        &.open {
            @include mobile-landscape {
                min-width: 220px;
            }

            .form-wrapper {
                margin-left: 10px;
                max-width: 200px;
            }
        }
    }

    .mobile-blog-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        @include tablet-landscape {
            display: none;
        }

        a {
            display: block;

            img {
                width: 6rem;
                height: 6rem;
            }
        }
    }

    .blog-logo {
        display: none;

        @include tablet-landscape {
            display: block;
        }

        a {
            display: block;

            img {
                width: 6rem;
                height: 6rem;
            }
        }
    }

    &.open {
        .mobile-toggle {
            img {
                transform: rotate(180deg);
            }
        }

        .blog-nav-links {
            padding-top: 10px;
            overflow: unset;
            max-height: 1000px;
        }
    }
}
