.site-header {
    margin-bottom: 20px;

    @media screen and (min-width: 992px) {
        margin-bottom: 50px;
    }

    @import 'announcement-banner';

    @import 'utility-nav';

    nav.main {
        background: $outer-space-blue;
        color: $white;
        border-top: 2px solid $heritage-yellow;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0;

        @media screen and (min-width: 992px) {
            padding: 1rem 1rem 0 1rem;
        }

        @import 'hamburger';

        @import 'site-logo';

        @import 'user-links';

        @import 'site-search';

        @import 'site-nav';
    }
}

@import 'blog-nav';

//@import "language-switcher";
