.language-switcher {
    margin-left: auto;

    .wpml-ls-legacy-dropdown a:hover,
    .wpml-ls-legacy-dropdown a:focus,
    .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a {
        background: $white;
        color: $outer-space-blue !important;
    }

    .wpml-ls-statics-shortcode_actions {
        border: none;
        width: auto;
        max-width: 100%;

        .wpml-ls-current-language > a {
            background: transparent;

            &:focus {
                color: $outer-space-blue !important;

                &:hover {
                    color: $outer-space-blue !important;
                }
            }
        }
    }

    .wpml-ls-legacy-dropdown {
        .wpml-ls-sub-menu {
            border-top: none;
        }

        .wpml-ls-item {
            background: $outer-space-blue;

            .wpml-ls-link {
                background: $outer-space-blue;
                color: $white !important;

                &:hover {
                    text-decoration: none;
                    background: $white !important;
                    color: $outer-space-blue !important;
                }
            }
        }
    }
}

nav#utility .wrapper .language-switcher a {
    margin: 0;
    display: block;
    width: 100%;
    font-size: 0.8125rem;
    letter-spacing: 0.05em;
    padding: 10px 30px 10px 15px;

    &:hover {
        text-decoration: none;
    }
}
