.site-header {
    z-index: 5555;
    position: relative;

    @import "new/nav-bar";

    @import "new/hamburger";

    @import "new/logo";

    @import "new/site-navigation";

    @import "new/utilities";

    @import "new/banner";
}

.mobile-nav-show {
    .site-navigation {
        border-bottom: none;
    }
}

@import "new/search";

@import "new/mobile-navigation";

@import "blog-nav";

@import "language-switcher";
