.site-search {
    width: 100%;
    padding: 1rem 1rem 0 1rem;

    @media screen and (min-width: 992px) {
        padding: 0;
        width: 45vw;
        order: 2;
        margin-right: auto;
    }

    form {
        position: relative;
    }

    .search-input {
        width: 100%;
        border: 1px solid #4a4a4a;
        border-radius: 3px;
        background: transparent;
        color: $white;
        padding: 6px 32px 6px 12px;
        font-size: 1rem;
        line-height: 1.5em;

        @include placeholder {
            color: $white;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    button {
        position: absolute;
        top: 10px;
        right: 4px;
        color: #4a4a4a;
        z-index: 10;
        outline: 0;
        border: 0;
        background: none;
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;

        &:before {
            content: "\F002";
        }
    }
}
