.site-logo {
    width: 125px;
    margin-right: auto;

    @media screen and (min-width: 544px) {
        width: 150px;
    }

    @media screen and (min-width: 992px) {
        width: 180px;
        height: 40px;
        order: 1;
    }

    img {
        filter: invert(100%);
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
