nav.utility {
	background: $white;
	color: $outer-space-blue;
	padding: 0 15px;

	@media screen and (min-width: 992px) {
		display: flex;
		align-items: center;
	}

	.message {
		text-align: center;
		padding-bottom: 16px;

		@media screen and (min-width: 992px) {
			flex: 1;
			padding: 0;
		}

		p {
			font-size: 1rem;
			line-height: 1.5em;
			margin: 0;
		}
	}

	.network {
		display: flex;
		flex-wrap: wrap;

		.toggle {
			width: 50%;
		
			@media screen and (min-width: 992px) {
				display: none;
			}

			.network-trigger {
				&:after {
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    content: "\F107";
				    font-weight: 900;
				    margin-left: 5px;					
				}
			}
		}

		.sites-list {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-height: 0;
			align-items: center;
			position: absolute;
			top: 100%;
			left: -15px;
			width: 100vw;
			background-color: #fff;
			box-shadow: 0 15px 25px 0 hsla(0,0%,72%,.35);
			z-index: 1000;
			overflow: hidden;
			transition: max-height .5s ease-in-out;

			@media screen and (min-width: 992px) {
				width: auto;
				max-height: none;
				height: 100%;
				display: flex;
				left: auto;
				top: auto;
				position: relative;
				border: none;
				min-width: 569px;
				box-shadow: none;
			}

			a {
				border-right: 1px solid #e7e8e8;
			    line-height: 42px;
			    height: 42px;
			    width: 20vw;
			    display: flex;
			    align-items: center;
			    justify-content: space-around;
			    padding: 0;
			    text-align: center;

			    &:last-of-type {
			    	border-right: 0;
			    }

			    @media screen and (min-width: 992px) {
			    	display: flex;
			    	flex: 1;
			    	justify-content: center;
			    	width: unset;

			    	img {
			    		filter: grayscale(100%);
			    		opacity: .5;
			    	}

			    	&:hover {
			    		img {
			    			opacity: 1;
			    		}
			    	}

			    }

			    &.msr {
			    	width: 15vw;

			    	@media screen and (min-width: 992px) {
			    		width: unset;
			    	}

					img {
						max-height: 22px;
					}
			    }

			    &.platypus {
			    	@media screen and (min-width: 992px) {
			    		width: unset;
			    	}

			    	img {
			    		max-height: 11px;
			    	}			    	
			    }

			    &.sealline,
			    &.packtowl {
			    	@media screen and (min-width: 992px) {
			    		width: unset;
			    	}

			    	img {
			    		max-height: 15px;
			    	}			    	
			    }

			    &.thermarest {
			    	@media screen and (min-width: 992px) {
			    		width: unset;
			    	}

			    	img {
			    		max-height: 10px;
			    	}			    	
			    }
			}
		}

		&.show {
			.toggle {
				.network-trigger {
					&:after {
						content: "\F106";
					}
				}
			}

			.sites-list {
				max-height: 80px;
			}
		}
	}

	.language {
		display: none;
	}
}