.corporate-footer {
    background: rgb(233, 236, 239);
    color: $black;
    padding: 1rem 1rem 2rem 1rem;

    .global {
        padding: 0 15px;
        @media (width <= 250px) {
            padding: 0;
        }
        ul {
            padding: 1rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media (width <= 250px) {
                display: block;
                padding: 0;
            }
        }

        li {
            padding: 0 20px;

            @media (width <= 250px) {
                padding: 0;
            }
        }

        a {
            color: $black;
            display: inline-block;
            font-size: 1rem;
            line-height: 1.5em;

            @media (width <= 250px) {
                font-size: 0.5em;
            }
        }
    }

    .copyright {
        padding: 5px 15px 0 15px;
        @media (width <= 250px) {
            font-size: 0.5em;
            padding: 10px 0 0 0;
        }
    }
}
