.newsletter-sign-up{
	background: $outer-space-blue;
	color: $white;
	padding: 2rem 1rem;

	.gform_wrapper {
		padding: 0;
		margin: 0;

		ul li.gfield {
			margin-top: 0;
			padding-right: 0;
		}

		form {
			@include tablet-landscape {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}

			.gform_body {
				width: 100%;

				@include tablet-landscape {
					width: auto;
					display: flex;
					margin-right: 0px;
				}

				ul.gform_fields li.gfield {
					padding-right: 0 !important;
				}

				div.gfield_description {
					padding-right: 0 !important;
				}

				.gform_fields {
					display: flex;
					align-items: flex-start;
					flex-wrap: wrap;
					width: 100%;
					justify-content: center;

					.ginput_container_email {
						@include tablet-landscape {
							padding: 0 0 0 20px !important;
						}
					}

					.gfield {
						width: 100%;

						&.gfield_error {
							position: relative;
							margin-bottom: 0 !important;

							.validation_message {
								position: absolute;
								bottom: -25px;
								right: 0;
							}
						}

						@include tablet-landscape {
							display: flex;
							align-items: center;
							width: auto;

							& + .gfield {
								margin-left: 10px !important;
							}
						}
					}
				}
			}

			.gform_footer {
				width: 100%;

				input {
					max-width: 100%;
				}

				@include tablet-landscape {
					width: auto;
					padding: 0 0 0 10px;

					input {
						height: 50px;
						padding: 0 40px;
						max-width: 120px;
					}
				}
			}
		}

		.gfield_required {
			display: none;
		}

		label {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.25em;
			letter-spacing: 0.05em;
			display: block;
		}

		.gfield_description {
			font-size: 1.1875rem;
			line-height: 1.125em;
			font-weight: 700;
		    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.31);
			padding: 0 0 20px 0;
			text-align: center;
			letter-spacing: 0.00em;

			@include tablet-landscape {
				padding: 0 10px 0 0;
				display: inline-block;
				width: auto;
				text-align: left;
			}
		}

		.top_label div.ginput_container {
			margin: 0 !important;

			select {
				width: 100%;
				height: 42px;
				font-size: 1.25rem;
				padding: 0 15px;
				color: #495057;
				border: 0;
			    display: inline-block;
			    max-width: 100%;
			    line-height: 1.5;
			    vertical-align: middle;
			    appearance: none;
			    background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z'/><path fill='none' d='M0 0h24v24H0V0z'/></svg>") no-repeat 100%;


				&:focus, &:active {
					outline: none;
				}

				@include tablet-landscape {
					width: 215px;
				}
			}

			input {
				border-radius: 0;
				border: none;
				height: 42px;
				padding: 0 15px !important;
				font-size: 1.25rem;
				font-weight: 500;
				width: 100%;
				margin: 0 !important;
				display: block;

				@include tablet-landscape {
					width: 255px;
					
				}

				@include desktop {
					width: 359px;
				}

				&::placeholder {
					font-size: 1.25rem;
					color: #6D757D;
					font-weight: 500;
				}

				&:focus, &:active {
					outline: none;
				}
			}
		}

		.gform_footer {
			padding: 20px 0 0 0;
			margin: 0;

		}

		.gform_button {
			margin: 0;
			background: transparent;
			font-size: 1.25rem !important;
			border: 1px solid $heritage-yellow;
			border-radius: 0;
			width: 100%;
			color: $white;
			padding: 0px 8px;
			font-weight: 700;
			text-transform: uppercase;
			transition: all 0.3s ease-in-out;
			max-width: 100%;
			height: 42px !important;

			@media only screen and (min-width: 641px) {
				width: 100% !important;
				max-width: 100% !important;
				padding: 10px 8px;
			}

			@include tablet-landscape {
				max-width: 120px !important;
				margin: 0 !important;
				width: 100% !important;
				text-align: center;
				display: flex !important;
				justify-content: center;
				align-items: center;
			}

			&.disabled {
				&:hover {
					background: transparent;
					cursor: not-allowed;
				}
			}

			&:hover {
				background: $heritage-yellow;
			}

			&:focus, &:active {
				outline: none;
			}
		}

		.validation_error {
			display: none;
		}

		li.gfield.gfield_error {
			background: transparent;
			border: none;
			padding: 0;
			margin: 0;
		}

		.gfield_error .gfield_label {
			color: $white;
		}


		.gfield_description.validation_message {
			padding: 10px 0 0 0;
			margin: 0;
			border: none;
			color: $beige;
			font-size: 1em;
			font-weight: 700;
			display: none;
		}

		li.gfield.gfield_error.gfield_contains_required {
			padding-right: 0;
		}
	}

	.gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {
		margin-top: 0 !important;
	}

	.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
		margin-left: 0;
	}

	.gform_wrapper.gf_browser_chrome .gfield_error select {
		margin-bottom: 0;
	}

	.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
	.gform_wrapper li.gfield_error textarea {
		border: 1px solid #fff;
		margin: 0;
		padding: 0;

	}
}