.site-footer {
    background: $white;
    color: $black;
    padding: 20px;

    @media (width <= 250px) {
        padding: 5px;
    }

    a {
        color: $black;
    }

    .columns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .col {
            width: 100%;
            padding: 0 15px 1.5rem 15px;

            @media screen and (min-width: 544px) {
                width: 50%;
            }

            @include tablet-portrait {
                width: 25%;
            }

            .header {
                padding-bottom: 15px;

                h4 {
                    font-size: 1rem;
                    font-weight: 800;
                }
            }

            & > ul {
                li {
                    a {
                        font-size: 1rem;
                        line-height: 1.5em;
                        @media (width <= 250px) {
                            font-size: 0.5em;
                        }
                        &:hover {
                            text-decoration: underline;
                        }

                        &.dealer-locator {
                            &:before {
                                color: $black;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                content: "\F041";
                                display: inline-block;
                                font-size: 1.3rem;
                                position: relative;
                                top: 0.12rem;
                                padding-right: 5px;
                            }
                        }
                    }
                }
            }
        }

        .social {
            ul {
                display: flex;
                align-items: center;

                @media (width <= 250px) {
                    display: block;
                }

                a {
                    display: block;
                    background: $black;
                    color: $white;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    margin-right: 10px;

                    @media (width <= 250px) {
                        margin-bottom: 10px;
                    }

                    &:after {
                        font: normal normal normal 14px/1 FontAwesome;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-size: 20px;
                        position: absolute;
                        color: $white;
                    }

                    &.facebook:after {
                        content: "\F09A";
                    }

                    &.twitter:after {
                        content: "\F099";
                    }

                    &.instagram:after {
                        content: "\F16D";
                    }

                    &.youtube:after {
                        content: "\F16A";
                    }

                    img {
                        display: none;
                    }
                }
            }
        }

        .lang-switcher {
            a {
                color: $black;
            }
        }
    }

    .lang-switcher {
        margin-left: auto;
    }
}
