h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $soleil;
	font-weight: 900;
}

h2.section-header {
	font-size: 1.375em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 900;
	text-align: center;
}