html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea {
	color: $outer-space-blue;
	font: 400 100%/1 $soleil;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 $font-awesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

a {
	color: $outer-space-blue;
	transition: all 0.2s ease-in-out;
}

@import 'headings';

@import 'copy';