body {
	background: $beige;
	position: relative;

}

.wrapper {
	margin: 0 auto;
	max-width: 1440px; 
	padding: 0 15px;
    transition: padding 0.2s ease-in;

	@media screen and (min-width: 1500px) {
		padding: 0;
	}
}
