body.archive,
body.search,
body.blog {
    section#posts {
        h2.section-header {
            padding: 35px 0 50px 0;
            border-top: 2px solid $white;
            font-size: 1.125em;
        }

        .posts-wrapper {
            border-bottom: 2px solid $white;
            padding: 0 0 20px 0;

            article.post {
                h2.title {
                    font-size: 1.875em;
                }
            }
        }
    }

    section#pagination {
        padding: 50px 0 60px 0;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                color: $outer-space-blue;
                font-size: 1.125em;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 5px 0 0;
                letter-spacing: 0.02em;
            }

            .nav-links {
                display: flex;
                align-items: center;

                a,
                span {
                    padding: 4px 12px;
                    font-weight: 600;
                    font-size: 1.125em;
                }

                a {
                    color: $outer-space-blue;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                span {
                    color: $outer-space-blue;
                }
                .current {
                    display: inline-block;
                    background: $heritage-yellow;
                }
            }
        }
    }
}

body.search-results {
    section#posts {
        h2.section-header {
            font-weight: 500;

            strong {
                font-weight: 700;
            }
        }
    }
}
