body.page-template-contributors {

	#list {
		background: $white;
		padding: 45px 0 80px 0;

		h2.section-header {
			padding: 0 0 55px 0;
		}

		.list-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 100px 50px;

			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}

			@include tablet-landscape {
				grid-template-columns: repeat(4, 1fr);
			}

			@include desktop {
				grid-template-columns: repeat(5, 1fr);
			}		
		}

		.item {
			.photo {
				width: 100%;
				padding: 0 0 40px 0;
				max-width: 250px;
				margin: 0 auto;

				@include tablet-portrait {
					min-width: 150px;
					max-width: 150px;
					padding: 0;
				}

				a {
					@include aspect-ratio(1, 1);
					display: block;
				}

				img {
					border-radius: 50%;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info {
				padding: 30px 0 0 0;
				text-align: center;

				h5 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-weight: 400;
					padding: 0 0 5px 0;
					color: $gray;
					max-width: 160px;
					margin: 0 auto;
				}

				h3 {
					font-size: 1.5em;
					letter-spacing: 0.02em;
					padding: 0 0 10px 0;
					font-weight: 700;
				}

				p {
					font-size: 0.875rem;
					line-height: 1.375em;
				}

				.links {
					padding: 20px 0 0 0;

					a {
						text-transform: uppercase;
						font-size: 0.875rem;
						letter-spacing: 0.05em;
						font-weight: 400;
						display: block;
						color: $heritage-yellow;

					}

					.social {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 20px 0 0 0;

						a {
							margin: 0 10px;
						}
					}
				}
			}
		}
	}
}