body.page-template-home {
    section#featured {
        .posts-wrapper {
            article.post.highlight {
                @include tablet-portrait {
                    grid-column-start: 1;
                    grid-column-end: span 2;
                }

                h2 {
                    overflow-wrap: normal;
                }
            }

            @include tablet-landscape {
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 20px;
            }

            // IE 10 + 11
            @media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                article {
                    width: 49%;
                }
            }

            @media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                article.highlight {
                    width: 100%;
                }
            }

            // Edge
            @supports (-ms-ime-align: auto) {
                article {
                    @include tablet-landscape {
                        width: 49%;
                    }

                    &.highlight {
                        @include tablet-portrait {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    section#popular {
        background: $white;
        padding: 60px 0 80px 0;

        h2.section-header {
            padding: 0 0 40px 0;
        }
    }

    section#posts {
        padding: 60px 0 30px 0;

        h2.section-header {
            padding: 0 0 40px 0;
        }

        .posts-wrapper {
            .highlight {
                @include tablet-portrait {
                    grid-column-start: 1;
                    grid-column-end: span 2;
                }

                // IE 10 + 11
                @media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    width: 100%;
                }

                // Edge
                @supports (-ms-ime-align: auto) {
                    @include tablet-portrait {
                        width: 100%;
                    }
                }
            }

            @include tablet-landscape {
                grid-template-columns: 1fr 1fr;
            }

            // IE 10 + 11
            @media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                article {
                    width: 49%;
                }
            }

            // Edge
            @supports (-ms-ime-align: auto) {
                article {
                    @include tablet-landscape {
                        width: 49%;
                    }
                }
            }
        }
    }

    section#explore {
        background: $white;
        padding: 60px 0 80px 0;

        .tag-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 60px 0 0 0;
            max-width: 1200px;
            margin: 0 auto;

            .tag {
                padding: 0 15px;
                border-right: 1px solid $outer-space-blue;
                margin: 0 0 20px 0;

                &:last-of-type {
                    border-right: none;
                }

                a {
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 1em;
                    display: block;
                    white-space: nowrap;

                    @include tablet-portrait {
                        font-size: 1.375em;
                    }
                }
            }
        }
    }

    section#pagination {
        margin: 50px 0 0 0;
        padding: 50px 0 50px 0;
        border-top: 1px solid $white;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                color: $outer-space-blue;
                font-size: 1.125em;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0 5px 0 0;
                letter-spacing: 0.02em;
            }

            .nav-links {
                display: flex;
                align-items: center;

                a,
                span {
                    padding: 0 12px;
                    font-weight: 600;
                    font-size: 1.125em;
                }

                a {
                    color: $outer-space-blue;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    section#instagram {
        .wrapper {
            max-width: 1920px;
            padding: 0;
        }

        .sbi_owl-theme .sbi_owl-controls {
            margin: -31px 0 0 0;
            position: absolute;
            top: 50%;
            width: 100%;
        }

        .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons div {
            margin: 0;
            padding: 0;
            border-radius: 0;
            opacity: 1;
            top: 0;

            i {
                display: none;
            }
        }

        .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-prev,
        .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next {
            width: 53px;
            height: 63px;
        }

        .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-prev {
            left: 0;
            background: url(images/prev.png) no-repeat 0 0;
        }

        .sbi_owl-theme .sbi_owl-controls .sbi_owl-buttons .sbi_owl-next {
            right: 0;
            background: url(images/next.png) no-repeat 0 0;
        }

        #handle {
            padding: 40px 0;
            text-align: center;

            a {
                font-weight: 700;
                font-size: 1.375em;
                color: $outer-space-blue;
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: $heritage-yellow;
                }
            }
        }
    }
}
