body.search {
	#posts {
		&.no-results {
			min-height: 50vh;


			.posts-wrapper {
				padding: 4rem 0 8rem 0;
			}

			.post {
				grid-column: 1 / -1;
				text-align: center;

				h3 {
					width: 100%;
					max-width: 720px;
					margin: 0 auto;
					line-height: 1.5em;
				}
			}
		}


	}
}