body.single-contributor {

	section#bio {
		background: $white;
		padding: 45px 0 80px 0;

		.wrapper {
			max-width: 800px;
		}

		h2.section-header {
			padding: 0 0 55px 0;
	
			strong {
				font-weight: 900;
			}

			a {
				font-weight: 500;
				color: #636363;
			}
		}

		.photo {
			width: 100%;
			max-width: 250px;
			margin: 0 auto;
			@include aspect-ratio(1, 1);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50%;
			}
		}

		.info {
			padding: 40px 0 0 0;
			text-align: center;

			h5 {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				font-weight: 700;
				padding: 0 0 5px 0;
				font-size: 1.125em;
				color: $gray;
			}

			h1 {
				font-size: 2.125em;
				letter-spacing: 0.02em;
				padding: 0 0 35px 0;
				font-weight: 700;
			}

			p {
				font-size: 1.1875em;
				line-height: 1.375em;
			}

			.links {
				padding: 30px 0 0 0;


				.social {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 25px 0 0 0;

					a {
						margin: 0 10px;
					}
				}
			}
		}
	}

	section#posts {
		background: $white;
		padding: 0 0 80px 0;

		.wrapper {
			max-width: 1225px;
		}

		h2.section-header {
			padding: 0 0 50px 0;
		}

		.posts-wrapper {
			justify-content: flex-start;
		}

		article.profile {
			.photo {
				min-height: 150px;
				display: block;

				@include tablet-landscape {
					min-height: 240px;
				}
			}

			.info {
				padding: 20px 5px 0 5px;

				h2, h3, h4, h5 {
					text-align: left;
					max-width: none;
					margin: auto;
				}

				h2.title {
					font-size: 1.5em;
					padding: 0 0 25px 0;
				}

				h4.category {
					font-size: 1em;
					padding: 0 0 20px 0;
				}
				
				h5 {
					color: #b6b6b6;
					font-size: 1em;
					font-weight: 500;
				}
			}
		}
	}
}