body.single-post {
    article {
        background: $white;
        padding: 40px 0 0 0;

        .wrapper {
            max-width: 870px;

            @media (width <= 250px) {
                padding: 0 5px;
            }
        }

        .featured-image {
            padding: 0 0 45px 0;

            .wrapper {
                max-width: 1360px;
            }

            .photo {
                @include aspect-ratio(1330, 560);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .article-header {
            text-align: center;
            padding: 0 0 40px 0;

            h1,
            h3,
            h4 {
                text-transform: uppercase;
            }

            h1.title {
                padding: 0 0 15px 0;
                font-size: 2em;

                @include tablet-portrait {
                    font-size: 4em;
                    padding: 0 0 30px 0;
                }

                @media (width <= 250px) {
                    font-size: 1em;
                }
            }

            h3.byline {
                font-weight: 700;
                font-size: 1em;

                @media (width <= 250px) {
                    font-size: 0.5em;
                }
            }

            h4.category {
                text-align: center;
                font-size: 1.125em;
                font-weight: 700;
                letter-spacing: 0.075em;
                padding: 0 0 10px 0;

                @media (width <= 250px) {
                    font-size: 0.5em;
                }
            }
        }

        .article-body {
            p,
            ul,
            ol {
                font-size: 1.1875em;
                line-height: 1.375em;
                padding: 0 0 40px 0;
                font-weight: 500;
                color: $slate;

                @media (width <= 250px) {
                    font-size: 1em;
                }
            }

            ul,
            ol {
                font-size: 1.0625em;

                li {
                    margin: 0 0 20px 40px;

                    &:last-of-type {
                        margin: 0 0 0 40px;
                    }
                }

                @media (width <= 250px) {
                    font-size: 0.5em;

                    li {
                        margin: 0 0 5px 10px;

                        &:last-of-type {
                            margin-left: 10px;
                        }
                    }
                }
            }

            ul {
                list-style-type: disc;
            }

            ol {
                list-style-type: decimal;
            }

            a {
                text-decoration: underline;
            }

            p[style*="text-align: center;"] img {
                display: inline-block;
            }

            .aligncenter {
                margin: 0 auto 40px auto;
            }

            .alignnone,
            .size-full {
                width: auto !important;
                height: auto !important;
                margin: 0 0 40px 0;

                &.aligncenter {
                    margin: 0 auto 40px auto;
                }
            }

            @include tablet-portrait {
                .alignleft {
                    float: left;
                    margin: 0 2rem 2rem 0;
                }

                .alignright {
                    float: right;
                }
            }

            h1 + .wp-caption,
            h2 + .wp-caption,
            h3 + .wp-caption,
            h4 + .wp-caption,
            h5 + .wp-caption,
            h6 + .wp-caption {
                padding-top: 40px;
            }

            .wp-caption {
                padding: 0 0 40px 0;
                max-width: 100%;

                &:not(.aligncenter) {
                    width: auto !important;
                }

                img {
                    width: auto !important;
                    height: auto !important;

                    &.aligncenter,
                    &.alignnone,
                    &.size-full {
                        margin: 0;
                    }
                }

                &.aligncenter {
                    margin: 0 auto;
                }

                p.wp-caption-text {
                    padding: 15px 0 0 0;
                    font-size: 0.8125em;
                    font-weight: bold;
                    color: #747474;
                    letter-spacing: 0.03em;
                }
            }

            .wp-video {
                margin: 0 0 40px 0;
            }

            .mejs-layers {
                min-height: 100%;
            }

            .responsive-table {
                max-width: 100%;
                overflow-x: auto;
                padding-bottom: 40px;

                table {
                    font-size: 0.875rem;

                    thead {
                        text-align: left;

                        th {
                            background: $outer-space-blue;
                            color: $white;
                            padding: 10px;
                        }
                    }

                    tbody {
                        td {
                            padding: 10px;
                            vertical-align: middle;

                            img {
                                margin: 0;
                            }

                            a {
                                color: $heritage-yellow;
                            }
                        }

                        tr:nth-child(even) {
                            td {
                                background: #fafafa;

                                img {
                                    mix-blend-mode: multiply;
                                }
                            }
                        }
                    }
                }
            }

            iframe {
                width: 100%;
            }

            .wp-caption {
                span {
                    display: block;
                    margin-top: 0.75rem;
                    font-style: italic;
                    font-size: 0.875rem;
                    line-height: 1.375em;
                }
            }
        }

        .article-footer {
            padding: 0 0 80px 0;

            section > h5 {
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.05em;
                padding: 0 0 20px 0;
            }

            section#tags {
                border-top: 1px solid #d6d4ce;
                border-bottom: 1px solid #d6d4ce;
                padding: 30px 0;
                color: #6b6b6b;

                h5 {
                    color: #6b6b6b;
                }

                a {
                    color: #6b6b6b;
                    font-size: 0.875em;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 1.25em;
                    @media (width <= 250px) {
                        font-size: 0.5em;
                    }
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            section#products {
                border-bottom: 1px solid #d6d4ce;
                padding: 30px 0 0 0;

                h5 {
                    color: $slate;
                }

                .products-wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    padding: 0 0 20px 0;

                    @include tablet-portrait {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    @include tablet-landscape {
                        grid-template-columns: repeat(4, 1fr);
                    }

                    @media (width <= 250px) {
                        grid-template-columns: 1fr;
                    }

                    // IE 10 + 11
                    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        .product {
                            width: 49%;
                            padding: 0 0 20px 0;
                        }
                    }

                    @media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        .product {
                            width: 32.3333%;
                        }
                    }

                    @media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                        .product {
                            width: 24%;
                        }
                    }

                    // Edge
                    @supports (-ms-ime-align: auto) {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        .product {
                            width: 49%;
                            padding: 0 0 20px 0;
                        }

                        @include tablet-portrait {
                            .product {
                                width: 32.3333%;
                            }
                        }

                        @include tablet-landscape {
                            .product {
                                width: 24%;
                            }
                        }
                    }

                    .product {
                        .photo {
                            img {
                                max-height: 185px;
                                margin: 0 auto;
                            }
                        }

                        .info {
                            padding: 20px 20px 0 20px;
                            text-align: center;

                            h4 {
                                padding: 0 0 15px 0;
                                font-weight: 700;
                                font-size: 0.875em;
                                line-height: 1.25em;
                                color: $slate;
                            }

                            .shop {
                                color: $outer-space-blue;
                                text-decoration: underline;
                                font-weight: 700;
                                text-transform: uppercase;
                                font-size: 0.8125em;
                                letter-spacing: 0.05em;
                            }
                        }
                    }
                }
            }

            section#contributor {
                margin: 30px 0 0 0;
                background: $beige;
                padding: 30px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                @include tablet-portrait {
                    padding: 50px;
                    flex-wrap: nowrap;
                }

                @media (width <= 250px) {
                    padding: 5px;
                }

                &.one-time {
                    .info {
                        flex-basis: 100%;
                        padding: 0;
                    }
                }

                .photo {
                    width: 100%;
                    padding: 0 0 40px 0;
                    max-width: 250px;
                    margin: 0 auto;

                    @include tablet-portrait {
                        min-width: 150px;
                        max-width: 150px;
                        padding: 0;
                        flex-basis: 30%;
                    }

                    img {
                        border-radius: 50%;
                    }
                }

                .info {
                    @include tablet-portrait {
                        padding: 0 0 0 40px;
                        flex-basis: 70%;
                    }

                    h5 {
                        text-transform: uppercase;
                        letter-spacing: 0.05em;
                        font-weight: 700;
                        padding: 0 0 5px 0;
                    }

                    h3 {
                        font-size: 1.5em;
                        letter-spacing: 0.02em;
                        padding: 0 0 20px 0;
                        font-weight: 700;

                        @media (width <= 250px) {
                            font-size: 0.875em;
                        }
                    }

                    p {
                        font-size: 1em;
                        line-height: 1.375em;
                        font-weight: 600;

                        @media (width <= 250px) {
                            font-size: 0.5em;
                        }
                    }

                    .links {
                        padding: 30px 0 0 0;

                        a {
                            text-transform: uppercase;
                            text-decoration: underline;
                            font-weight: 700;
                            display: block;
                            margin: 0 0 10px 0;

                            @include tablet-portrait {
                                display: inline-block;
                                margin: 0 10px 0 0;
                                border-right: 1px solid;
                                padding: 0 10px 0 0;

                                &:last-of-type {
                                    margin: 0;
                                    border-right: none;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }

            section#share {
                padding: 60px 0 100px 0;
                overflow: hidden;

                h5 {
                    text-align: center;
                    color: $outer-space-blue;
                    font-size: 1.25em;
                    font-weight: 700;
                }

                .share-link {
                    padding: 0 1rem;
                    width: 4rem;

                    svg {
                        width: 100%;

                        path {
                            transition: all 200ms ease;
                            &:hover {
                                fill: $heritage-yellow;
                            }
                        }
                    }
                }

                .links-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        display: block;
                    }

                    .page-link {
                        &-view {
                            transform: translate(-50%, 20px);
                            position: absolute;
                            padding: 20px;
                            border: 2px solid $slate;
                            background: $white;
                            font-weight: 600;
                            color: $outer-space-blue;
                            white-space: nowrap;
                            opacity: 0;
                            z-index: -1;
                            transition: all 0.2s ease-in;

                            &:hover {
                                cursor: auto;
                            }

                            &::before {
                                content: " ";
                                display: block;
                                width: 0px;
                                height: 0px;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid $slate;
                                position: absolute;
                                top: -12px;
                                left: 50%;
                            }
                        }

                        &.active {
                            .page-link-view {
                                opacity: 1;
                                z-index: 10;
                            }
                        }
                    }
                }
            }

            section#discussion {
                h2.comments-title {
                    font-size: 1.25em;
                    font-weight: 700;
                    padding: 0 0 20px 0;
                }

                ol.comment-list {
                    li {
                        margin: 0 0 20px 0;
                        background: $beige;
                        padding: 30px;
                        border-left: 5px solid $green;

                        .comment-body {
                            .comment-author {
                                width: 100%;
                                padding: 0 0 5px 0;

                                cite {
                                    font-weight: 600;
                                }
                            }

                            .comment-meta {
                                width: 100%;
                                padding: 0 0 15px 0;

                                a {
                                    font-size: 0.75em;
                                    font-weight: 700;
                                }
                            }

                            p {
                                font-weight: 500;
                                font-size: 1em;
                                line-height: 1.375em;

                                & + p {
                                    padding: 20px 0 0 0;
                                }

                                a {
                                    text-decoration: underline;
                                }
                            }

                            .reply {
                                margin: 10px 0 0 0;

                                a {
                                    border: 2px solid $green;
                                    color: $green;
                                    display: inline-block;
                                    padding: 6px 12px;
                                    font-weight: 600;
                                    font-size: 0.75em;
                                    text-transform: uppercase;
                                    letter-spacing: 0.02em;
                                    transition: all 0.3s ease-in-out;

                                    &:hover {
                                        background: $green;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }

                    ol.children {
                        padding: 40px 0 0 0;

                        li {
                            padding: 5px 15px;
                            border-left: 3px solid $heritage-yellow;

                            .reply {
                                a {
                                    border: 2px solid $heritage-yellow;
                                    color: $heritage-yellow;

                                    &:hover {
                                        background: $heritage-yellow;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }

                .navigation {
                    display: none;
                }

                div#respond {
                    padding: 30px;
                    background: $beige;
                    border-left: 5px solid $heritage-yellow;

                    h3#reply-title {
                        font-weight: 700;
                        font-size: 1.25em;
                        padding: 0 0 20px 0;
                    }

                    p.logged-in-as {
                        margin: 0 0 20px 0;
                    }

                    #cancel-comment-reply-link {
                        color: $heritage-yellow;
                        display: block;
                        font-weight: 400;
                        font-style: italic;
                        margin: 10px 0 0 0;
                    }

                    form {
                        p.comment-notes {
                            font-size: 0.875em;
                            font-style: italic;
                            padding: 0 0 25px 0;
                        }
                        p.comment-form-url {
                            display: none;
                        }

                        label {
                            display: block;
                            font-weight: 700;
                            font-size: 0.875em;
                            text-transform: uppercase;
                            letter-spacing: 0.02em;
                            padding: 0 0 5px 0;
                        }

                        p.comment-form-comment,
                        p.comment-form-author,
                        p.comment-form-email {
                            padding: 0 0 25px 0;
                            max-width: 400px;

                            input,
                            textarea {
                                width: 100%;
                                padding: 10px;
                                font-weight: 600;

                                &:focus,
                                &:active {
                                    outline: none;
                                }
                            }
                        }

                        p.form-submit {
                            input {
                                margin: 0;
                                background: $heritage-yellow;
                                font-family: $soleil;
                                border: 2px solid $heritage-yellow;
                                color: $white;
                                height: 42px;
                                padding: 0 25px;
                                font-weight: 700;
                                text-transform: uppercase;
                                transition: all 0.3s ease-in-out;

                                &:focus,
                                &:active {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section#posts {
        background: $beige;
        padding: 60px 0 80px 0;

        @media (width <= 250px) {
            display: none;
        }

        .wrapper {
            max-width: 1225px;
            padding: 0;
        }

        h2.section-header {
            padding: 0 0 50px 0;
        }

        .posts-wrapper {
            padding: 0 73px;

            @include desktop {
                padding: 0;
            }

            .slick-track {
                display: flex;
            }
        }

        article.related {
            padding: 0 67px;
            background: transparent;
            margin: 0;
            width: 100%;

            @include mobile-landscape {
                width: 50%;
                padding: 0 25px;
                border-right: 3px solid #dadada;
            }

            @include tablet-portrait {
                width: 33.3333%;
            }

            @include tablet-landscape {
                width: 25%;
            }

            &:focus,
            &:active {
                outline: none;
            }

            .photo {
                min-height: 150px;
                display: block;

                @include tablet-landscape {
                    min-height: 150px;
                }
            }

            .info {
                padding: 20px 5px 0 5px;

                h2,
                h3,
                h4,
                h5 {
                    text-align: left;
                    max-width: none;
                    margin: auto;
                }

                h2.title {
                    font-size: 1.25em;
                    padding: 0 0 25px 0;

                    @include tablet-landscape {
                        font-size: 1.5em;
                    }

                    @media (width <= 250px) {
                        font-size: 0.5em;
                    }
                }

                h4.category {
                    font-size: 0.875em;
                    padding: 0 0 20px 0;

                    @include tablet-landscape {
                        font-size: 1em;
                    }
                }

                h5 {
                    display: inline-block;
                    padding: 0.5rem;
                    background: $heritage-yellow;
                    color: $black;
                    font-size: 0.875em;
                    font-weight: 500;

                    @include tablet-landscape {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
