.posts-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;

	@include tablet-portrait {
		grid-template-columns: 1fr 1fr;
	}

	@include tablet-landscape {
		grid-template-columns: 1fr 1fr 1fr;
		grid-row-gap: 50px;
	}


	// IE 10 + 11
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	
	article {
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			width: 100%;
			padding: 0 0 20px 0;
		}

  		@media all and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	  		width: 49%;
	  	}

  		@media all and (min-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	  		width: 32.3333%;
	  	}
	}

	// Edge
	@supports (-ms-ime-align: auto) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		article {
			width: 100%;
			padding: 0 0 20px 0;

	  		@include tablet-portrait {
		  		width: 49%;
		  	}

	  		@include tablet-landscape {
		  		width: 32.3333%;
		  	}
		}
	}

}