article.post {
    .photo {
        display: block;
        @include aspect-ratio(4, 3);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        padding: 20px 10px;
        text-align: center;

        h2,
        h3,
        h4 {
            text-transform: uppercase;
            text-align: center;
        }

        h2.title {
            padding: 0 0 15px 0;
            font-size: 1.5em;
            max-width: 540px;
            margin: 0 auto;
            font-weight: 900;

            @include tablet-portrait {
                font-size: 2em;
            }
        }

        h3.byline {
            font-weight: normal;
            font-size: 0.875rem;

            .contributor {
                text-decoration: underline;
            }
        }

        h4.category {
            text-align: center;
            font-size: 0.875rem;
            letter-spacing: 0.1em;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            margin: 0 0 10px 0;

            a {
                display: block;
                background: $outer-space-blue;
                padding: 0.5rem;
                color: $white;
            }
        }

        p {
            text-align: center;
            padding: 20px 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.375em;
            max-width: 540px;
            margin: 0 auto;
            display: none;

            @include tablet-portrait {
                display: block;
            }
        }

        .more {
            display: inline-block;
            text-align: center;
            font-weight: 900;
            color: $black;
            text-transform: uppercase;
            margin: 20px 0 0 0;
            text-decoration: underline;
        }
    }

    &.highlight {
        @include tablet-portrait {
            grid-column-start: 1;
            grid-column-end: span 3;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                width: 100%;
            }
        }

        .photo {
            @include aspect-ratio(16, 8);
        }

        .info {
            background: $outer-space-blue;
            color: $white;
            padding: 25px;
            text-align: left;

            h2,
            h3,
            h4.category {
                text-align: left;
                color: $white;

                a {
                    color: $white;
                }
            }

            h2.title {
                max-width: 100%;
                margin: 0;
            }

            h3.byline {
                font-size: 0.875em;

                @include mobile-landscape {
                    font-size: 1em;
                }
            }

            h4.category {
                text-align: left;
                font-size: 0.875rem;
                display: inline-block;
                text-shadow: none;
                margin-bottom: 0;

                a {
                    display: inline-block;
                    background: $white;
                    color: $outer-space-blue;
                    text-shadow: none;
                }
            }
            p,
            .more {
                display: none;
            }
        }

        @include tablet-portrait {
            .info {
                position: absolute;
                padding: 0;
                bottom: 30px;
                left: 30px;
                background: transparent;

                h2.title {
                    padding: 0 0 20px 0;
                    font-size: 3em;
                    max-width: 75%;
                    margin: 0;
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                }

                h3.byline {
                    font-size: 1.125em;
                    letter-spacing: 0.075em;
                    font-weight: 600;
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                }

                h4.category {
                    font-size: 1em;
                    padding: 0 0 10px 0;
                    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                }

                p {
                    display: none;
                }
            }
        }

        @include tablet-landscape {
            .info {
                bottom: 60px;
                left: 45px;

                h2.title {
                    max-width: 50%;
                }
            }
        }
    }

    &.featured-2,
    &.featured-3,
    &.recent {
        .photo {
            @include aspect-ratio(16, 8);
        }
    }
}
