.hamburger {
    width: 1.25rem;
    margin-left: 4px;

    @include desktop-small {
        display: none;
    }

    @media (width <= 250px) {
        margin-left: 0;
        text-align: center;
        width: 100%;
        padding-bottom: 0.5rem;
    }

    a {
        &:before {
            content: "\F0C9";
            display: block;
            font-family: $font-awesome;
            color: $outer-space-blue;
            font-size: 1.5rem;
            font-weight: 100;

            @media (width <= 250px) {
                font-size: 0.5rem;
            }
        }

        &.show {
            &:before {
                content: "\F00D";
            }
        }
    }
}
