.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    aspect-ratio: 180 / 40;

    @include desktop-small {
        margin-left: 0;
        margin-right: 0.625rem;
        flex-basis: 180px;
    }

    @include desktop-medium {
        margin-right: 0;
    }

    @media (width <= 250px) {
        aspect-ratio: unset;
    }

    a {
        display: block;
    }

    img {
        width: 100%;
        height: 100%;
        max-width: 180px;
        object-fit: contain;
        margin: 0 auto;
    }
}
