.nav-bar {
    display: none;

    @include desktop-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $outer-space-blue;
        color: $white;
        width: 100%;
    }

    .marquee {
        display: none;
        max-height: 2rem;
        overflow: hidden;

        @include desktop-small {
            display: flex;
            justify-content: center;
            width: calc(100% - 27rem);
        }

        &-slider {
            width: 32rem;

            @include desktop-medium {
                width: 36rem;
            }
        }

        .message {
            text-align: center;
            padding: 0.25rem 0;

            p {
                font-size: 0.875rem;
            }
        }

        .slick-prev,
        .slick-next {
            top: 2px;
            width: 20px;
            height: 20px;
            transform: translateX(0);

            &:before {
                background-image: unset;
                opacity: unset;
                width: unset;
                height: unset;
                content: "\F0D9";
                font-family: $font-awesome;
                color: $white;
                font-size: 0.875rem;
            }
        }

        .slick-prev {
            left: 0;
            &:before {
                content: "\F0D9";
            }
        }

        .slick-next {
            right: 0;
            &:before {
                content: "\F0DA";
            }
        }
    }

    .brands {
        display: flex;
        margin-left: auto;
        justify-content: flex-end;

        @include desktop-small {
            width: 27rem;
        }

        .network-link {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 39px;
            line-height: 38px;
            padding: 0 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: grayscale(100%) brightness(0) invert(1);
            }

            &:hover {
                background-color: $outer-space-blue;

                img {
                    filter: brightness(0) invert(1);
                }
            }
        }

        .msr {
            img {
                width: 40px;
            }
        }

        .platypus {
            img {
                width: 75px;
            }
        }

        .packtowl {
            img {
                width: 65px;
            }
        }

        .sealline {
            img {
                width: 57px;
            }
        }

        .thermarest {
            background-color: $white;
            padding-left: 12px;

            img {
                width: 90px;
                filter: unset;
            }
        }
    }
}
