.site-search {
    position: fixed;
    top: -400px;
    left: 0;
    z-index: 9999;
    width: 100%;
    transition: all 0.2s ease-in-out;

    .search-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $white;
        color: $outer-space-blue;
        padding: 2rem 1rem;

        .logo {
            display: none;

            @include desktop-small {
                display: block;
            }

            a {
                display: block;
            }

            img {
                width: 100%;
                max-width: 180px;
            }
        }

        .search-form {
            position: relative;
            flex: 1;
            margin-right: 2rem;

            @include desktop-small {
                flex: unset;
                width: 45vw;
                margin-right: 0;
            }
        }

        .search-input {
            border: 1px solid #4a4a4a;
            border-radius: 0.1875rem;
            background: transparent;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            width: 100%;
            height: 38px;
            color: $white;

            &:focus,
            &:active {
                outline: none;
            }

            @include placeholder {
                color: $outer-space-blue;
                font-weight: bold;
            }
        }

        .submit {
            border: none;
            padding: 0;
            margin: 0;
            display: block;
            background: transparent;
            position: absolute;
            top: 11px;
            right: 12px;

            &:before {
                content: "\F002";
                display: block;
                font-family: $font-awesome;
                color: $outer-space-blue;
                font-size: 1rem;
            }
        }

        .search-close {
            @include desktop-small {
                width: 180px;
                display: flex;
                justify-content: flex-end;
            }

            a {
                display: block;
                &:after {
                    content: "\F00D";
                    display: block;
                    font-family: $font-awesome;
                    color: $outer-space-blue;
                    font-size: 1.5rem;
                    font-weight: 100;
                }
            }
        }
    }

    .popular-searches {
        background: $white;
        padding: 3rem 2rem;

        .container {
            max-width: 20rem;
            margin: 0 auto;
        }

        .headline {
            padding-bottom: 0.75rem;
            border-bottom: 2px solid #dedede;
            margin-bottom: 0.75rem;

            h4 {
                font-size: 0.875rem;
                text-transform: uppercase;
                font-weight: 400;
            }
        }

        ul {
            li {
                padding-bottom: 0.375rem;

                a {
                    font-weight: bold;
                    color: $outer-space-blue;
                }
            }
        }
    }
}

.blur-background {
    opacity: 0;
    transition: all 0.3 ease-in-out;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: -1;
    position: fixed;
}

.search-overlay-active {
    overflow: hidden;

    .blur-background {
        opacity: 1;
        z-index: 8888;
        backdrop-filter: blur(5px);
    }
    .site-search {
        top: 0;
    }
}
