.site-navigation {
    background: $white;
    padding: 15px 24px 15px 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2rem;

    border-bottom: 2px solid $outer-space-blue;

    @include desktop-small {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 19px 16px 19px 16px;
    }

    @media (width <= 250px) {
        grid-template-columns: 1fr;
        padding: 15px 12px;
        gap: 0.25rem;
        text-align: center;
    }
}

.desktop-nav {
    display: none;

    @include desktop-small {
        display: block;
    }

    @include desktop-medium {
        margin-left: 10px;
    }

    ul {
        display: flex;
        align-items: center;
    }

    .first-level {
        &:last-of-type {
            margin-left: 1rem;

            &:before {
                content: "";
                display: block;
                height: 30px;
                width: 2px;
                background: #b3b1b2;
                position: absolute;
                left: -8px;
                top: -6px;
            }
        }
    }

    .main-link {
        color: $outer-space-blue;
        font-size: 15px;
        font-weight: 900;
        line-height: 1rem;
        padding: 10px 0.5rem 27px 0.5rem;
        text-transform: uppercase;
        position: relative;

        @include desktop-medium {
            padding: 10px 0.75rem 27px 0.75rem;
            font-size: 16px;
        }

        &:after {
            content: "";
            display: block;
            height: 2px;
            width: calc(100% - 24px);
            position: absolute;
            top: 34px;
            left: 50%;
            transform: translateX(-50%);
            background: transparent;
            transition: all 0.2s ease;
        }

        &.show {
            &:after {
                background: $outer-space-blue;
            }
        }
    }

    .dropdown-menu {
        border-top: 2px solid $outer-space-blue;
        border-bottom: 2px solid $outer-space-blue;
        position: absolute;
        top: 47px;
        width: 100vw;
        background: $white;
        z-index: 10;
        padding: 2rem;
        display: none;
        opacity: 0;
        transition: all 0.2s ease;
        pointer-events: none;

        &.show {
            display: block;
            opacity: 1;
            pointer-events: unset;
        }

        &-container {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .col {
        padding: 1rem 1rem 0 1rem;

        &.links {
            border-right: 2px solid #b1b1b1;

            &:nth-child(3) {
                border-right: none;
            }

            h2 {
                font-weight: bold;
                font-size: 1rem;
                text-transform: uppercase;
                margin-bottom: 14px;
                padding-left: 20px;
            }

            a {
                display: block;
                padding: 7px 20px;
                line-height: 20px;
                white-space: nowrap;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &.promo {
            .promo-container {
                @include aspect-ratio(340, 266);
                max-width: 340px;
                margin-left: 1rem;
            }

            a {
                display: flex;
                width: 100%;
                height: 100%;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.2s;
                    text-align: center;
                    padding: 1rem;

                    .label {
                        color: $white;
                        font-size: 1.625rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: $futura-pt-bold;
                    }

                    .explore {
                        font-family: $futura-pt-bold;
                        position: absolute;
                        bottom: 0;
                        display: inline-block;
                        color: $white;
                        text-transform: uppercase;
                        border: 2px solid;
                        font-weight: bold;
                        font-size: 1.125rem;
                        padding: 0.375rem 0.75rem;
                        bottom: 3rem;
                        opacity: 0;
                        transition: opacity 0.2s;
                    }
                }

                &:hover {
                    .info {
                        background: rgba(0, 0, 0, 0.25);
                        .explore {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
