.utilities {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include desktop-small {
        padding-right: 0.5rem;
    }
    @media (width <= 250px) {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 0.5rem;
    }
    .search {
        .mobile {
            @include desktop-small {
                margin-right: 0.5rem;
            }
            @include desktop-medium {
                display: none;
            }

            a {
                display: block;

                &:before {
                    content: "\F002";
                    display: block;
                    font-family: $font-awesome;
                    color: $outer-space-blue;
                    font-size: 1.675rem;

                    @include desktop-small {
                        font-size: 1rem;
                    }

                    @media (width <= 250px) {
                        font-size: 0.5rem;
                    }
                }
            }
        }

        .desktop {
            display: none;

            @include desktop-medium {
                display: block;
            }

            .search-container {
                cursor: pointer;

                .search-field {
                    pointer-events: none;
                    border: 1px solid #4a4a4a;
                    border-radius: 0.1875rem;
                    background: transparent;
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    width: 138px;
                    height: 38px;
                    padding-left: 35px;

                    &:focus,
                    &:active {
                        outline: none;
                    }

                    @include placeholder {
                        color: #6c757d;
                        font-weight: bold;
                    }
                }

                .search-btn {
                    border: none;
                    padding: 0;
                    margin: 0;
                    display: block;
                    background: transparent;
                    position: absolute;
                    top: 11px;
                    left: 12px;

                    &:before {
                        content: "\F002";
                        display: block;
                        font-family: $font-awesome;
                        color: $outer-space-blue;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .links {
        display: flex;
        align-items: center;

        @include desktop-small {
            padding-left: 1.5rem;
        }

        .profile {
            display: none;

            @include desktop-small {
                display: block;
                padding-right: 1.5rem;

                &:before {
                    content: "";
                    display: block;
                    height: 40px;
                    width: 1px;
                    background: $outer-space-blue;
                    position: absolute;
                    right: 0.675rem;
                    top: -8px;
                }
            }

            a {
                display: block;

                &:before {
                    content: "\F007";
                    display: block;
                    font-family: $font-awesome;
                    color: $outer-space-blue;
                    font-size: 1.375rem;
                }
            }
        }

        .cart {
            padding-left: 1rem;
            @media (width <= 250px) {
                padding-left: 0.25rem;
            }
            a {
                display: block;

                &:before {
                    content: "\F07A";
                    display: block;
                    font-family: $font-awesome;
                    color: $outer-space-blue;
                    font-size: 1.75rem;
                    font-weight: bold;

                    @include desktop-small {
                        font-size: 1.375rem;
                    }

                    @media (width <= 250px) {
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }
}
